<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/02-pandas-dtypes.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Изменение типов данных
#### [Ссылка на видео](https://youtu.be/TFM_msrwBIk)

Импортируем библиотеки. Библитека os нужна, чтобы вы не скачивали таблицу второй раз если она у вас уже скачана, и скачалаи ее, если она у вас не скачана

In [ ]:
import os
import pandas as pd

#### Проверить к какому классу относится объект, можно при помощи функции type

In [ ]:
type(123)

In [ ]:
type('pandas')

От того, к какому классу принадлежит отбъект, зависят его свойства

In [ ]:
1 + 2

In [ ]:
'1' + '2'

Читаем таблицу

In [ ]:
path_people = '../tables/people.parquet' if os.path.exists('../tables/people.parquet') else 'https://drive.google.com/uc?id=1iI1Lde5ya3ruztGYmjpprSCUoCU9rBeS'

people = pd.read_parquet(path_people)
people

In [ ]:
people['Фамилия']

### info

Метод выводит на экран таблицу, в которой указаны название столбца, число заполненых ячейк и тип данных в стобце

In [ ]:
people.info()

In [ ]:
people

#### Типы:
1. __object__ - тип данных, который в основном используется для строк (строки - это текст, они записываются в кавычках), но может содержать и другие типы данных
2. __string__ - тип данных, предназначеный для хранения строк
3. __int + число__ - целые числа
4. __float + число__ - числа с плавующей точкой
5. __datetime64[ns]__ - даты и время
6. __bool__ - логический тип. Если True, то правда, если False, то ложь

In [ ]:
df_path = '../tables/modified_dtypes.pkl' if os.path.exists('../tables/школьные оценки.xlsx') else 'https://drive.google.com/uc?id=1Q_MDakkji87seNz6nWH54cLF9_54Ix81'
df = pd.read_pickle(df_path)

In [ ]:
df

Все колонки в таблице представленны типом object

In [ ]:
df.info()

### to_datetime

Функция приводит колонки таблицы к типу datetime64

In [ ]:
pd.to_datetime(df['Дата рождения'])

In [ ]:
df['Дата рождения']

#### Присваивание новых значений

In [ ]:
df['Дата рождения'] = pd.to_datetime(df['Дата рождения'])

In [ ]:
df['Дата рождения']

#### параметр format

In [ ]:
pd.to_datetime(df['Дата устройства на работу'])

In [ ]:
df['Дата устройства на работу'] = pd.to_datetime(df['Дата устройства на работу'],
                                                 format='%d#%m/%Y')

In [ ]:
df.info()

### astype

Метод для конвертации колонок из одного типа в другой

#### Синтаксис:
__Для датафреймов:__
1. df.astype({Назавание колонки: тип}) - для приведения определенных колонок
2. df.astype(тип) - для приведения всего датафрема к одному типу

__Для объектов Series:__
1. s.astype(тип)

In [ ]:
df = df.astype({'Число детей': int, 'Площадь дома': float})

In [ ]:
df.info()

#### С помощью метода astype можно обрезать дробную часть у чисел с плавующей точкой

In [ ]:
df.astype({'Число детей': int, 'Площадь дома': float}).astype({'Площадь дома': int})

Более красивый вид написания методов

In [ ]:
(df
    .astype({'Число детей': int, 'Площадь дома': float})
    .astype({'Площадь дома': int})
)

In [ ]:
df.info()

Int64 может содержать пропущенные значения

In [ ]:
df['Заработная плата'].astype('Int64')

In [ ]:
df['Автомобиль'].astype('string').info()

In [ ]:
df['Автомобиль'].astype(str).info()

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1
В таблице w_ends для каждой даты отмечено, был ли этот день выходным. Посмотрите на типы данных в таблице. Приведите колонку с датами к типу datetime64[ns]

In [ ]:
import os
import pandas as pd

path_w_ends = '../tables/выходные.csv' if os.path.exists('../tables/выходные.csv') else 'https://drive.google.com/uc?id=1hAsoXSPTFihFmBuF-E0uSj9pX4gpojwC'
w_ends = pd.read_csv(path_w_ends)
w_ends

# напишите свой код здесь

### Задание 2

Приведите колонку Математика к типу string, а колонку Литература к строкам. Таблица лежит в переменной marks

In [ ]:
import os
import pandas as pd

path_marks = '../tables/оценки.xlsx' if os.path.exists('../tables/оценки.xlsx') else 'https://drive.google.com/uc?id=17f4DXx53J0WooNkhO13xidseZJ-O2obs'
marks = pd.read_excel(path_marks)
marks

# напишите свой код здесь

### Задание 3

В дальнейшем вы будете работать с таблицами, которые будут содержать информацию о магазинах одежды. В таблице shops лежать адреса этих магазинов, и дата открытия.

Изучите таблицу, посмотрите на типы данных в ней. Приведите колонки таблицы к форматам, которые вам кажутся наиболее подходящими

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'
shops = pd.read_excel(path_shops).astype({'shop_id': str})
shops

# напишите свой код здесь

### Задание 4

В таблице empl приведите колонку salary (зарплата) к целым числам

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl

### Задание 5

В таблите ltc лежат данные по курсу криптовалюты litecoin. Посмотрите на типы данных в таблице. Приведите колнку date к типу datetime64. Используйте параметр format. (На самом деле функция to_datetime сработает и без него, но лучше попрактикуйтесь с ним). Подсказка  о том, как это сделать содержится внутри метода strftime. На остальные методы пока внимание не обращайте

In [ ]:
import os
import pandas as pd

path_ltc_sample = '../tables/ltc_sample.parquet' if os.path.exists('../tables/ltc_sample.parquet') else 'https://drive.google.com/uc?id=1XaThogOOqKjJj50LvfJ9WqutjMAC5AxA'

ltc = (pd.read_parquet(path_ltc_sample)
       .head(10)
       .assign(date = lambda x: x['date'].dt.strftime('%H:%M:%s %d/%m/%Y'))
)
ltc

# напишите свой код здесь

### Задание 6

Посмотрите на таблицу xdg_usdt. В ней содержаться данные по торговли криптовалютами xdg и usdt.
В ней нас интересует колонка дата. Посмотрите какого она типа?

Иногда даты хранятся не в виде строк, а в виде целых чисел. Каждое число - это количество секунд, милисекунд или наносекунд, которое прошло с 1 января 1970 года. Привести такую колонку к привычному формату дат можно при помощи функции to_datetime, используя в ней парметр unit. Этому параметру необходимо передать значение 's' для секунд, 'ms' - для милисекунд, 'ns' - для наносекунд. 

Приведите колонку с датами к типу datetime64, подобрав нужное значение в параметре unit

In [ ]:
import os
import pandas as pd
path_xdg_usdt = '../tables/XDGUSDT.csv' if os.path.exists('../tables/XDGUSDT.csv') else 'https://drive.google.com/uc?id=1oLjCNOsdKbd87sIgW0_OWDpD2DVHAAAV'
xdg_usdt = pd.read_csv(path_xdg_usdt, header=None).set_axis(['Дата', 'Цена', 'Объем'], axis=1)
xdg_usdt

In [ ]:
# Пример того, как это работает
pd.to_datetime([1234567890, 973401234, 2536234589], unit='s')

In [ ]:
# напишите свой код здесь

### Задание 7

В видео была допущена ошибка, когда было сказано, что можно поменять формат отображения дат. Это не так. Даты можно представить в виде строк в определенном формате. Для того, чтобы это сделать необходимо обратиться к колонке с датами, а затем обратиться к конструкции dt.strftime(). Внутри метода надо указать формат даты. 

Приведите колонку open_date к строкам, чтобы дата лежала в формате число, месяц, год.  В качестве разделителей возьмите слэш /

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops.head()

In [ ]:
shops['open_date'].dt.strftime('%d/%m/%Y')