<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/03-create-tables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Создание таблиц
#### [Ссылка на видео](https://youtu.be/R_TEh4xMkCw)

In [ ]:
import pandas as pd
import numpy as np

## Создание объекта Series

### На основе одного значения

In [ ]:
pd.Series(1)

In [ ]:
pd.Series('pandas')

### На основе списка

In [ ]:
['Аня', 'Маша', 'Вася', 'Катя', 'Аня']

In [ ]:
pd.Series(['Аня', 'Маша', 'Вася', 'Катя', 'Аня']).value_counts()

## Создание датафреймов

### На основе словаря

In [ ]:
people_dict = {
    'Имя': ['Екатерина', 'Евгений', 'Андрей', 'Виктория', 'Анастасия', 'Данил'],
    'Фамилия': [pd.NA, 'Бубликов', 'Васильев', 'Леонова', 'Долгова',
                'Новиков'],
    'Дата рождения': pd.to_datetime(['1992-06-25', '1995-09-09', '2000-02-29',
                                     '1999-06-15', '2003-04-06', '1995-06-03']),
    'Количество детей': 0,
    'Дата увольнения': pd.Timestamp('12-06-2023')
}

In [ ]:
pd.DataFrame(people_dict)

#### Проверка длинны объектов

In [ ]:
len(['Екатерина', 'Евгений', 'Андрей', 'Виктория', 'Анастасия', 'Данил'])

#### Функция len у датафреймов считает количество строк

In [ ]:
len(pd.DataFrame(people_dict))

#### shape

Возвращает кортеж, первое значение в кортеже - количество строк, а второе - количество столбцов

In [ ]:
pd.DataFrame(people_dict).shape

## Функции для создания периодических чисел или дат

### np.arange

Генерирует целые числа

#### Синтаксис

1. np.arange(первое число в массиве, последнее число в массиве невключительно, шаг (по умолчанию равен 1))
2. np.arange(последнее число в массиве невключительно)

In [ ]:
np.arange(2, 10, 2)

In [ ]:
np.arange(-100, 80, 1.5)

In [ ]:
np.arange(100, 0, -1)

### np.linspace

Делит отрезок на равные части

#### Синтаксис:

np.linspace(нначало отрезка, конц отрезка, число точек на отрезке)

In [ ]:
np.linspace(0, 10, 11)

In [ ]:
np.linspace(5, 6, 8)

### pd.date_range(start, end, periods, freq)

__start__ - начало периода генерации дат

__end__ - конец периода генерации дат

__periods__ - количество дат для генерации

__freq__ - период, с которым даты будут генерироваться

In [ ]:
pd.date_range('2020-09-06', '2023-05-18', periods=15).normalize()

In [ ]:
pd.date_range('2020-09-06 15:00', '2023-05-18', freq='2d 6h')

In [ ]:
pd.date_range('2020-08-06 15:00', '2023-05-18', freq='MS').shift(5, 'd')

In [ ]:
(pd.date_range('2020-08-06 15:00', '2023-05-18', freq='Y')
    .shift(5, 'M')
    .shift(-2, 'h')
)

In [ ]:
pd.date_range('2020-08-06 15:00', '2023-05-18', freq='min')

### Список всех сокращений (регистр их записи не важен)

| Сокращение   | Расшифровка                              | Сокращение   | Расшифровка                    |
|:-------------|:-----------------------------------------|:-------------|:-------------------------------|
| B            | Последний рабочий день в неделе          | QS           | Начало квартала                |
| C            | Пользовательский последний день в неделе | BQS          | Первый рабочий день квартала   |
| D            | День                                     | A, Y         | Конец года                     |
| W            | Неделя                                   | BA, BY       | Последний рабочий день в году  |
| M            | Конец месяца                             | AS, YS       | Начало года                    |
| SM           | 15 число месяца                          | BAS, BYS     | Первый рабочий день в году     |
| BM           | Последний рабочий день в месяце          | BH           | Рабочий час (от 9:00 до 17:00) |
| CBM          | Пользовательский конец месяца            | H            | Час                            |
| MS           | Первое число месяца                      | T, min       | Минута                         |
| SMS          | 1 и 15 число месяца                      | S            | Секунда                        |
| BMS          | Первый рабочий день месяца               | L, ms        | Миллисекунда                   |
| CBMS         | Пользовательский первый день месяца      | U, us        | Микросекунда                   |
| Q            | Конец квартала                           | N            | Наносекунда                    |
| BQ           | Последний рабочий день квартала          | nan          | nan                            |

In [ ]:
pd.date_range('2020-09-06', '2023-05-18', periods=15).normalize()

In [ ]:
pd.date_range('2020-09-06 15:00', '2023-05-18', freq='4d 7h')

In [ ]:
(pd.date_range('2020-08-06 15:00', periods=15, freq='MS')
    .shift(5, 'd')
    .shift(8, 'min')
)

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1
Создайте объект Series, в котором будут лежать последовательно имена Аня, Наташа, Таня, Оля, Настя

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 2
Создавать объекты Series можно на основе словарей. В этом случае ключ пойдет в индекс, а значение в тело колонки.

In [ ]:
import pandas as pd

height = {'Кирилл': 178, 'Андрей': 189, 'Тимур': 159, 'Ярослав': 190}
pd.Series(height)

Создайте на основе словаря объект Series. В индексе словаря пусть лежат имена Никита, Артур, Паша, а в значениях колонки номера телефонов 123456, 654321, 123321.

In [ ]:
# напишите свой код здесь

### Задание 3
Создайте таблицу, состоящую из двух колонок. В перовой колонке должны быть имена Саша, Маша, Лера, Руслан. Во второй колонке пусть лежат фамилии Сидоров, Петрова, Иванова, Уткин

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 4

В таблице marks_6d лежат оценки школьников в классе 6Д. Какое количество школьников в классе?

In [ ]:
import os
import pandas as pd
path_marks_6d = '../tables/оценки 6Д.csv' if os.path.exists('../tables/оценки 6Д.csv') else 'https://drive.google.com/uc?id=1aMvwur2zrISbVPRo86qWgbHPEpw5km0n'
marks_6d = pd.read_csv(path_marks_6d)
marks_6d

In [ ]:
# напишите свой код здесь

### Задание 5

Создайте набор точек от 1 до 150 с интервалом 2

In [ ]:
import numpy as np

# напишите свой код здесь

### Задание 6

Создайте набор точек от 0 до 15 включительно с интервалом 1.5

In [ ]:
import numpy as np

# напишите свой код здесь

### Задание 7

На отрезке от 100 до 150 создайте 80 равноудаленных друг от друга точек

In [ ]:
import numpy as np

# напишите свой код здесь

### Задание 8

Создайте набор дат с 18 марта 1999 года до 28 февраля 2021 года с частотой в 1 день

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 9

Создайте набор дат с даты вашего рождения и до сегодняшнего дня с частотой в 1 день. При помощи функции len посчитайте длинну массива

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 10

Создайте набор дат с 18 марта 2009 года до 28 февраля 2021 года с частотой в 4 дня 19 часов

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 11

Создайте набор дат с 18 марта 2009 года до 18 февраля 2021 года с частотой в 1 месяц

In [ ]:
import pandas as pd

# напишите свой код здесь

### Задание 12

Создайте 8 дат с частотой в 3 часа начиная от 9 часов утра 21 декабря 1999 года

In [ ]:
import pandas as pd

# напишите свой код здесь