<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/04-save-tables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Код из видео

Если вы будете работать с этим ноутбуком в google colab и у вас что-то не будет работать, то раскоментируйте ячейку ниже (для этого выделите содержимое ячейки и нажмите на клавиши ctrl / (если смотреть по английской раскладке или ctrl . для русской), либо просто руками уберите # и пробел после нее в каждой строчке) и запустите ее.

In [ ]:
# import os
# os._exit(00)
# !pip install pyarrow pandas==1.5.3

In [1]:
import pandas as pd
import os

Читаем таблицы

In [2]:
path_marks_6a = '../tables/оценки.xlsx' if os.path.exists('../tables/оценки.xlsx') else 'https://drive.google.com/uc?id=17f4DXx53J0WooNkhO13xidseZJ-O2obs'
path_marks_6d = '../tables/оценки 6Д.csv' if os.path.exists('../tables/оценки 6Д.csv') else 'https://drive.google.com/uc?id=1aMvwur2zrISbVPRo86qWgbHPEpw5km0n'

marks_6a = pd.read_excel(path_marks_6a)
marks_6d = pd.read_csv(path_marks_6d)

In [4]:
marks_6a.to_excel('../temp tables/оценки.xlsx', index=False)

In [3]:
marks_6a

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3
5,Исаева Елизаваета Петровна,женский,4,4,3,3,3,5
6,Артамонова Арина Семеновна,женский,4,4,4,4,3,5
7,Михайлова Ксения Родионовна,женский,4,4,3,4,4,5
8,Бирюкова Арина Александровна,женский,4,3,3,4,3,5
9,Сухарев Евгений Валерьевич,мужской,3,5,4,4,5,5
10,Суслов Артём Глебович,мужской,4,4,4,3,3,4
11,Бородина Валерия Даниловна,женский,3,4,5,3,5,5
12,Казанцева Мария Владимировна,женский,4,4,4,4,4,5
13,Петухов Александр Алексеевич,мужской,5,4,4,5,4,5
14,Панфилов Марат Евгеньевич,мужской,5,4,4,4,4,5
15,Минина Маргарита Кирилловна,женский,5,5,5,5,5,5
16,Фомичева Ольга Даниловна,женский,4,4,4,5,4,4
17,Мальцева Арина Семеновна,женский,4,4,4,4,4,5
18,Родина Арина Викторовна,женский,5,5,4,4,5,5

In [4]:
pd.read_excel('../temp tables/оценки.xlsx')

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3
5,Исаева Елизаваета Петровна,женский,4,4,3,3,3,5
6,Артамонова Арина Семеновна,женский,4,4,4,4,3,5
7,Михайлова Ксения Родионовна,женский,4,4,3,4,4,5
8,Бирюкова Арина Александровна,женский,4,3,3,4,3,5
9,Сухарев Евгений Валерьевич,мужской,3,5,4,4,5,5
10,Суслов Артём Глебович,мужской,4,4,4,3,3,4
11,Бородина Валерия Даниловна,женский,3,4,5,3,5,5
12,Казанцева Мария Владимировна,женский,4,4,4,4,4,5
13,Петухов Александр Алексеевич,мужской,5,4,4,5,4,5
14,Панфилов Марат Евгеньевич,мужской,5,4,4,4,4,5
15,Минина Маргарита Кирилловна,женский,5,5,5,5,5,5
16,Фомичева Ольга Даниловна,женский,4,4,4,5,4,4
17,Мальцева Арина Семеновна,женский,4,4,4,4,4,5
18,Родина Арина Викторовна,женский,5,5,4,4,5,5

## Сохраняем таблицы

#### В эксель

In [8]:
marks_6a.to_excel('../temp tables/оценки.xlsx', index=False, sheet_name='6 А')

In [9]:
marks_6d.to_excel('../temp tables/оценки.xlsx', index=False, sheet_name='6 Д')

Чтобы сохранить в эксель несколько листов, необходимо использовать следующую конструкцию

In [12]:
with pd.ExcelWriter('../temp tables/оценки.xlsx', mode='w') as writer:
    marks_6a.to_excel(writer, index=False, sheet_name='6 А')
    marks_6d.to_excel(writer, index=False, sheet_name='6 Д')

#### В csv

In [13]:
marks_6d.to_csv('../temp tables/оценки.csv', index=False)

#### pickle

In [14]:
marks_6d.to_pickle('../temp tables/оценки.pkl')

#### parquet

In [15]:
marks_6d.to_parquet('../temp tables/оценки.parquet')

# Задания

### Задание 1

Давайте долистаем до конца экселя. Создайте 1 колонку, в которой будут лежать значения от 0 до 1048576 (невключительно). Сохраните эту колонку в эксель файл. Откройте его и долистайте до конца

In [ ]:
import pandas as pd
import numpy as np

# Напишите свой код здесь

Это задание вы можете выполнить в гугл colab. Чтобы посмотреть, что файл создался выполните команду:

!ls -la