<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/06-display-options-head-tail.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Настройки отображения таблиц
#### [Ссылка на видео](https://youtu.be/YoknWGZHn8Y)

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
path_people = '../tables/people.parquet' if os.path.exists('../tables/people.parquet') else 'https://drive.google.com/uc?id=1iI1Lde5ya3ruztGYmjpprSCUoCU9rBeS'

pd.read_parquet(path_people)

Создаем таблицу в которой 40 колонок и 100 строк

In [ ]:
n_cols = 40
n_rows = 100

df = pd.DataFrame(np.arange(n_cols * n_rows).reshape(-1, n_rows).T,
            columns=[f'Колонка {i + 1}' for i in range(n_cols)])
df

Максимальное количество отобржаемых колонок

In [ ]:
pd.options.display.max_columns

Это значение можно изменить

In [ ]:
pd.options.display.max_columns = 30

In [ ]:
df

In [ ]:
pd.options.display.max_columns = None

In [ ]:
df

Максимальное число отображаемых строк

In [ ]:
pd.options.display.max_rows

Максимальное число отобржаемых строк в сжатой таблице

In [ ]:
pd.options.display.min_rows

In [ ]:
pd.options.display.min_rows = 20

In [ ]:
df

In [ ]:
pd.options.display.max_rows = 100

In [ ]:
df

In [ ]:
pd.options.display.precision

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows', 10)

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
pd.get_option('display.max_rows')

## head

In [ ]:
# Возврщает первые 5 строк таблицы
df.head()

## tail

In [ ]:
# Возвращает последние 5 строк таблицы
df.tail()

## Sample

In [ ]:
# Возвращает случайную строку
df.sample()

In [ ]:
df.head(3)

In [ ]:
df.sample(70)

In [ ]:
df.sample(3, random_state=1)

In [ ]:
df.sample(3, random_state=1)

In [ ]:
df.sample(3, random_state=2)

In [ ]:
df.sample(3, random_state=2)

In [ ]:
np.random.seed(1)
df.sample(3)

In [ ]:
np.random.seed(1)
df.sample(3)

In [ ]:
df.sample(frac=0.6)

In [ ]:
df.sample(10, replace=True, random_state=42)

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1

Установите значение максимального числа отображаемых колонок на 100

Убедитесь, что вы видите все названия колонок таблицы

In [ ]:
# Напишите свой код здесь

In [ ]:
n_cols = 99
n_rows = 5

df = pd.DataFrame(np.arange(n_cols * n_rows).reshape(-1, n_rows).T,
            columns=[f'Колонка {i + 1}' for i in range(n_cols)])
df

### Задание 2

Выполните две ячейки ниже

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

pd.read_parquet(path_goods_descr)

In [ ]:
dir()

В первом случае вам вернулась таблица. Слева от ячейки вы увидите Ввод [какое-то число].

Не смотря на то, что вы не сохраняли эту таблицу в переменную, она все равно сохранилась. 
В этом можно убедиться, вызвав функцию dir(). Среди множества значений, там будет группа, начинающаяся со знака нижнего подчеркивания _. Все что мы выводим на экран при запуске ячеек сохраняется в переменных этой группы, не просто как какое-то изображение, а как полноценные объекты, с которыми можно работать

Посмотрите на число в квадратных скобках слева от ячейки, где вы читали таблицу. Напишите в ячейке ниже знак нижнего подчеркивания и это число

In [ ]:
# в моем случае это 
# _8
# Напишите свой код здесь

Попробуйте поработать с этой таблицей. Вызовите у нее метод info

In [ ]:
# Напишите свой код здесь

Такая штука в некоторых случаях может вас выручить. Например, если вы написали код так, что он оказался невоспроизводимым. Тогда вы можете взять таблицу из этой переменной, сохранить в переменную нормальным названием и продолжить работу.

Сохраните эту таблицу в переменную df

In [ ]:
df = # Напишите свой код здесь

Однако если таким образом вы будите постоянно выводить на экран большие таблицы, у вас может закончиться оперативная память. Поэтому, чтобы этого не происходило используйте методы head, sample или tail

### Задание 3

Вывидите на экран первые 10 строк таблицы prices. В данной таблице содержаться цены на товары

In [ ]:
import os
import pandas as pd

path_prices = '../tables/prices.parquet' if os.path.exists('../tables/prices.parquet') else 'https://drive.google.com/uc?id=1_KfYyYCsib8woanbP3VouLUpYp103dV5'

prices = pd.read_parquet(path_prices)

# Напишите свой код здесь

### Задание 4

Вывидите на экран 15 случайных строк таблицы shops. Зафиксируйте random_state, параметру replace передайте значение True

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)

# Напишите свой код здесь

### Задание 5

Когда мы записываем датафрейм в конце ячейки он выводится на экран. Однако если вы захотите вывести на экан несколько датафреймов под одной ячейкой, то у вас ничего не получится. Будет показан только последний датафрейм.

Если вам нужно вывести несколько таблиц под одной ячейкой, можно воспользоваться функцией display. В нее необходимо передать датафрем, который вы хотите отобразить.

С помощью данной функции вывидите на экран сначала первые 5 строк таблицы prices, а затем последние 5 строк

In [ ]:
import os
import pandas as pd

path_prices = '../tables/prices.parquet' if os.path.exists('../tables/prices.parquet') else 'https://drive.google.com/uc?id=1_KfYyYCsib8woanbP3VouLUpYp103dV5'

prices = pd.read_parquet(path_prices)

# Напишите свой код здесь

### Задание 6

Сейчас вы вывели 2 таблицы одну под другой. Однако бывают ситуации, когда хочется вывести таблицы друг рядом с другом

Это можно сделать при помощи такой функции. В нее необходимо передать датафреймы, которые вы хотите отобразить.

Выполните ячейки ниже

In [ ]:
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [ ]:
import os
import pandas as pd

path_prices = '../tables/prices.parquet' if os.path.exists('../tables/prices.parquet') else 'https://drive.google.com/uc?id=1_KfYyYCsib8woanbP3VouLUpYp103dV5'

prices = pd.read_parquet(path_prices)

display_side_by_side(prices.sample(5, random_state=15), prices.sample(5, random_state=115))

Отобразите так же первые 5 и последние 10 строк таблицы prices

In [ ]:
# Напишите свой код здесь