<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/08-get-and-set-column.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Изменение и создание колонок таблиц
#### [Ссылка на видео](https://youtu.be/W7M8Yp1EVio)

In [ ]:
import pandas as pd
import numpy as np
import os

Читаем таблицу

In [ ]:
path_df = '../tables/people.parquet' if os.path.exists('../tables/people.parquet') else 'https://drive.google.com/uc?id=1iI1Lde5ya3ruztGYmjpprSCUoCU9rBeS'

df = pd.read_parquet(path_df)
df

# Обращение и изменение через квадратные скобки

In [ ]:
df['Число детей']

In [ ]:
# [] это просто сокращение от такой записи
df.__getitem__('Число детей')

In [ ]:
# Сначала считается правая часть равенства, а затем идет присваивание
df['Число детей'] = df['Число детей'] + 1
df

Создаем новую колонку на основе одного значения и списка, ndarray или Series

In [ ]:
df['size'] = 'M'
df

Длинна массива должна быть равна количеству строк в таблице

In [ ]:
df['size'] = ['L', 'L', 'S', 'M', 'XXL', 'M', 'XL']
df

Сопоставление идет по индексу

In [ ]:
pd.Series(['L', 'L', 'S', 'M', 'XXL', 'M', 'XL'],
          index=[3, 4, 5, 6, 7, 8, 9])

In [ ]:
df['size'] = pd.Series(['L', 'L', 'S', 'M', 'XXL', 'M', 'XL'],
                       index=[3, 4, 5, 6, 7, 8, 9])
df

In [ ]:
df['size'] = pd.Series(['L', 'L', 'S', 'M', 'XXL', 'M', 'XL'],
                       index=[3, 4, 5, 6, 7, 8, 9]).reset_index(drop=True)
df

In [ ]:
df['size'] = pd.Series(['L', 'L', 'S', 'M', 'XXL', 'M', 'XL'],
                       index=[3, 4, 5, 6, 7, 8, 9]).tolist()
df

#### Выбор нескольких колонок

In [ ]:
df

In [ ]:
df[['Имя', 'Фамилия']]

Изменим очередность колонок

In [ ]:
df[['Фамилия', 'Имя', 'Число детей',
    'Дата рождения', 'size',
     'Женат/Замужем', 'Площадь дома']]

Если передать в метод список, то вернется DataFrame, а если просто строку, то вернется Series

In [ ]:
df[['Имя']]

In [ ]:
df['Имя']

In [ ]:
df['Имя'].to_frame()

### [ ] при работе с колонками таблицы и объектами Series

In [ ]:
names = df['Имя']
names

К объектам Series можно обращаться через название индекса

In [ ]:
names[0]

In [ ]:
names[4]

In [ ]:
df

Поменяем имя Александр на Олег

In [ ]:
names[4] = 'Олег'

In [ ]:
names

Значение поменялось не только в переменной names, но и в таблице

In [ ]:
df

Обратно вернем имя Александр

In [ ]:
names[4] = 'Александр'

In [ ]:
df

Чтобы значение менялось только в переменной необходимо использовать метод copy

In [ ]:
names = df['Имя'].copy()
names

In [ ]:
names[4] = 'Олег'

In [ ]:
names

In [ ]:
df

In [ ]:
df1 = df.copy()
df1

Вунтри функций никогда не будет лишней такая строчка

In [ ]:
def some_func(df):
    df = df.copy()
    
    # Код функции

# Метод drop

Метод для удаления коложнок из таблицы

#### Синтаксис:

1. df.drop(columns='название колонки' или спискок из названий колонок)
2. df.drop('название колонки' или спискок из названий колонок, axis=1)
3. df.drop('название колонки' или спискок из названий колонок, axis='columns')

Кроме того, с помощью этого метода можно удалять индексы

df.drop(название индекса или спискок из ненужных индексов)

In [ ]:
df[['Фамилия', 'Число детей', 'Площадь дома',
    'Дата рождения', 'Женат/Замужем']]

In [ ]:
df.drop(columns='Имя')
df.drop('Имя', axis=1)
df.drop('Имя', axis='columns')

In [ ]:
df.drop(columns=['Имя', 'size'])
df.drop(['Имя', 'size'], axis=1)
df.drop(['Имя', 'size'], axis='columns')

In [ ]:
df

In [ ]:
# df = df.drop(columns=['Имя', 'size'])

# Метод assign

Метод необходим для создания новых колонок.

#### Синтаксис:

df.assign(название колонки без кавычек = значение, которое надо присвоить колонке)

__Ограничения на названия колонок в методе assign:__
1. Допускаются только символы латинского алфавита, цифры и _
2. Название не должно начинасться на цифру
3. Название не должно содержать пробелов

In [ ]:
(df
    .assign(one = 1)
)

In [ ]:
# df['one'] = 1
df

In [ ]:
df = df.drop('one', axis=1)
df

In [ ]:
df.assign(range_1_7 = [1, 2, 3, 4, 5, 6, 7])

In [ ]:
(df
    .assign(size = lambda x: x['size'].str.lower())
)

In [ ]:
(df
    .assign(house_square = lambda x: x['Площадь дома'] * 2)
)

In [ ]:
(df
    .assign(house_square = lambda x: x['Площадь дома'] * 2)
    .assign(house_square_1 = lambda x: x['house_square'])
)

__Ограничения на названия колонок в методе assign:__
1. Допускаются только символы латинского алфавита, цифры и _
2. Название не должно начинасться на цифру
3. Название не должно содержать пробелов

#### Создание колонок на русском языке

In [ ]:
# Не очень хороший вариант
df.assign(Площадь_квартиры = lambda x: x['Площадь дома'])

In [ ]:
df.assign(**{'Площадь кваратиры': lambda x: x['Площадь дома']})

In [ ]:
(df
    .assign(flat_square = lambda x: x['Площадь дома'])
    .rename({'flat_square': 'Площадь кваратиры'}, axis=1)
)

# Атрибуты loc и iloc

Методы loc и iloc очень похожи. Метод loc позволяет образаться к столбцам таблицы, строкам и ячейкам по названию колонок и индексов, а метод iloc по их номерам

In [ ]:
df = df.set_index('Фамилия')
df

**Если передать в [ ] атрибута loc или iloc один аргумент, то вернется строка таблицы**

In [ ]:
df.loc['Васильев']

In [ ]:
df.iloc[0]

#### В них можно передавать списки

In [ ]:
df

In [ ]:
df.loc[['Васильев', 'Павлов']]

In [ ]:
df.iloc[[0, 3]]

Если продублировать один и тот же индекс несколько раз, то соответствующая строка вернется несколько раз

In [ ]:
df.loc[['Васильев', 'Павлов', 'Васильев']]

In [ ]:
df.iloc[[0, 3, 0]]

#### Срезы

In [ ]:
df

In [ ]:
df.loc['Алексеев': 'Николаев']

In [ ]:
df.iloc[1:5]

In [ ]:
df.loc['Алексеев':]

In [ ]:
df.iloc[1:]

In [ ]:
df.loc['Алексеев':'Николаев':2]

In [ ]:
df.iloc[1:5:2]

In [ ]:
df.loc['Алексеев'::2]

In [ ]:
df.iloc[1::2]

**В методы можно передавать 2 аргумента. Тогда первый аргумент будет отвечать за выбор строки, а второй за выбор столбца**

In [ ]:
df

In [ ]:
df.loc[['Алексеев', 'Павлов'], 'Имя': 'Дата рождения']

In [ ]:
df.iloc[[0, 3], :4]

**Чтобы выбрать колонку таблицы, необходимо в качестве первого аргумента передать двоеточие**

In [ ]:
df.loc[:, 'Дата рождения']

In [ ]:
df.iloc[:, 3]

In [ ]:
df.iloc[:, [3]]

In [ ]:
df.loc[:, ['Дата рождения']]

In [ ]:
df.iloc[:, -3:]

**Выбираем отдельные ячейки**

In [ ]:
df.loc['Алексеев', 'Имя']

In [ ]:
df.iloc[1, 0]

#### Обращение к мультииндексу

In [ ]:
path_sales_2021 = '../tables/sales_2021.parquet' if os.path.exists('../tables/sales.parquet') else "https://drive.google.com/uc?id=1Xy4a_aAnTAG5fzsQDdwYiQxpNYRMyLkr"
# В видео была немного дуругая таблица
sales_agg = (pd.read_parquet(path_sales_2021)
             
    [['check_id', 'customer_id', 'purchase_date', 'shop_id',
     'product_code_3', 'price', 'goods_number']]
             
    .assign(month_end_date = lambda x: x['purchase_date'].dt.normalize()
            + pd.offsets.MonthEnd(0))

    .assign(price_mul_number = lambda x: x['price'] * x['goods_number'])
             
    .assign(total_goods_per_check = lambda x: x
            .groupby('check_id')['goods_number'].transform('sum'))

    .assign(total_sum_per_check = lambda x: x
            .groupby('check_id')['price_mul_number'].transform('sum'))

    [['customer_id', 'month_end_date', 'total_goods_per_check',
      'total_sum_per_check', 'check_id']]
             
    .drop_duplicates()
             
    .groupby(['month_end_date', 'customer_id'])
             
    .agg({'total_goods_per_check': ['min', 'max', 'mean'],
          'total_sum_per_check': ['min', 'max', 'mean'],
          'check_id': 'count'})
             
    .rename({'total_goods_per_check': 'число товаров в чеке',
            'total_sum_per_check': 'cумма покупки',
            'check_id': 'id чека',
            'min': 'минимум',
            'max': 'максимум',
            'mean': 'среднее',
            'count': 'количество'}, axis=1)
             
    .rename_axis(['месяц', 'id клиента'])
    .head()
)
sales_agg

#### Метод iloc работает так же как и раньше

In [ ]:
sales_agg.iloc[0]

Чтобы получить первую строку, указываем сначала первый индекс, а затем второй индекс в круглых скобках

In [ ]:
sales_agg.loc[('2021-01-31', 98)]

Выбираем колонку

In [ ]:
sales_agg.loc[:, ('cумма покупки', 'максимум')]

#### Выбор нескольких колонок

In [ ]:
sales_agg

Как кортеж списков. Первый список это названия из верхнего уровня колонок, а второй список это названия из нижнего уровня колонок

In [ ]:
sales_agg.loc[:, (['cумма покупки', 'число товаров в чеке'], ['минимум', 'максимум'])]

Как список кортежей. В каждом кортеже пара верхнего и нежнего уровней

In [ ]:
sales_agg.loc[:, [('cумма покупки', 'минимум'), ('число товаров в чеке', 'максимум')]]

### Присваивание новых значений

In [ ]:
df

In [ ]:
df.iloc[:, 5] = 'M'
df

In [ ]:
df.iloc[4, 5] = 'S'
df

In [ ]:
df.loc[:, 'size'] = ['L', 'L', 'S', 'M', 'XXL', 'M', 'XL']

In [ ]:
df

**При помощи метода loc можно создавать новые колонки и строки**

In [ ]:
df.loc[:, 'n_children'] = df['Число детей'] * 2
df

### Пара слов про numpy

In [ ]:
np.arange(20).reshape(-1, 4)

#### [] работают так же как и метод iloc у таблиц

In [ ]:
np.arange(20).reshape(-1, 4)[3]

In [ ]:
np.arange(20).reshape(-1, 4)[:, 2]

In [ ]:
np.arange(20).reshape(-1, 4)[1, 1]

# Обращение через атрибут класса

In [ ]:
df

In [ ]:
df.n_children

In [ ]:
df.Имя

In [ ]:
df.size

In [ ]:
df.n_children

In [ ]:
df.n_children = 1

In [ ]:
df

In [ ]:
df.one = 1

In [ ]:
df

In [ ]:
df.one

### Метод item()

Когда в объекте Series всего один элемент, его можно получить при помощи метода item

In [ ]:
pd.Series(1)

In [ ]:
pd.Series(1).item()

In [ ]:
pd.Series(1)[0]

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1

Из таблицы goods_descr выберите колонки ['product_code_3', 'gender', 'is_one_size', 'product_type', 'size_long']

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# Напишите свой код здесь

### Задание 2

С помощью метода drop удалите из таблицы sales колонки cashier и shop_assistant

In [ ]:
import os
import pandas as pd

path_sales_2022 = '../tables/sales_2022.parquet' if os.path.exists('../tables/sales_2022.parquet') else 'https://drive.google.com/uc?id=17e7FwXVdsWc2aziK9s5KidIvPcfKt9F5'

sales = pd.read_parquet(path_sales_2022)
sales.head()

In [ ]:
# Напишите свой код здесь

### Задание 3

Из таблицы sales возьмите первые 6 колонок.

Можете сдалать это любым способом, но в данном случае это удобно сделать методом iloc[]

In [ ]:
import os
import pandas as pd

path_sales_2022 = '../tables/sales_2022.parquet' if os.path.exists('../tables/sales_2022.parquet') else 'https://drive.google.com/uc?id=17e7FwXVdsWc2aziK9s5KidIvPcfKt9F5'

sales = pd.read_parquet(path_sales_2022)
sales.head()

In [ ]:
# Напишите свой код здесь

### Задание 4

В таблице marks_6d при помощи метода assign создайте колонку состоящую из единиц. Дайте ей название indicator

Иногда такие колонки удобно создавать перед соединением двух таблиц, чтобы в уже соединенной таблице понимать, какие наблюдения берутся из одной таблицы, а какие из другой

In [ ]:
import os
import pandas as pd
path_marks_6d = '../tables/оценки 6Д.csv' if os.path.exists('../tables/оценки 6Д.csv') else 'https://drive.google.com/uc?id=1aMvwur2zrISbVPRo86qWgbHPEpw5km0n'
marks_6d = pd.read_csv(path_marks_6d)
marks_6d.head()

In [ ]:
# Напишите свой код здесь

### Задание 5

В таблице empl при помощи метода assign создайте колонку fio_copy, которая будет содержать в себе копию колонки fio

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 6

Задание на numpy

С помощью функции np.eye можно созадавать матрицу, у которой по диагонали лежат единицы. Однако у матрицы 2 диагонали. Сделайте так, чтобы в единичной матрице 6 на 6 единицы шли не из верхнего левого угла в нижний правый, а из нижнего левого в верхний правый угол.

Чтобы это сделать необходимо развернуть матрицу (взять все элементы с шагом -1)

In [ ]:
import numpy as np
# надо из такой матрицы сделать
np.eye(3)

In [ ]:
# вот такую, только размером 6 на 6
np.array([[0., 0., 1.],
          [0., 1., 0.],
          [1., 0., 0.]])

In [ ]:
# Напишите свой код здесь

### Задание 7

Задание на numpy

Вы уже знаете, как отразить матрицу в вдоль диагонали выходящей из верхнего левого угла. Для этого необходимо ее транспонировать. Теперь попробуйте отражить ее по другой диагонали

In [ ]:
import numpy as np
np.random.seed(234)
matrix = np.random.randint(0, 10, (3, 5))
matrix

In [ ]:
# Напишите свой код здесь