<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/09-filter-data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Выбор строк из таблицы и условное присваивание
#### [Ссылка на видео](https://youtu.be/dqYe8r1uWTY)

In [ ]:
import pandas as pd
import numpy as np
import os

 Символ   | Значние                                      | Пример   |
|:--------:|:--------------------------------------------:|:--------:|
| ==       | Равно <br>(проверка на равентсво двух элементов)<br> | 1==1     |
| !=       | Не равно                                     | 1 != 2   |
| >        | Больше                                       | 5 > 4    |
| >=       | Больше или равно                             | 4 >= 1   |
| <        | Меньше                                       | 5 < 10   |
| <=       | Меньше или равно                             | 8 <= 10  |

#### Проверка на равенство

In [ ]:
1 == 1

In [ ]:
1 == 2

#### Неравенства

In [ ]:
5 != 9

In [ ]:
6 > 6

In [ ]:
6 >= 6

In [ ]:
7 < 9

In [ ]:
10 <= -9

#### Сравнение строк

In [ ]:
'pandas' == 'pandas'

In [ ]:
'pandas' == 'PANDAS'

Проверка на вхождение элемента в список

In [ ]:
'a' in 'pandas'

In [ ]:
'Катя' in ['Маша', 'Даша', 'Паша']

In [ ]:
'Катя' in ['Маша', 'Даша', 'Катя']

#### Сложные условия

1. and - проверка на то, что 2 условия выполняются одновременно
2. or - проверка на то, что выполняется хотя бы одно из условий
3. not - логическое не (превращает True в False и наоборот)

In [ ]:
5 == 5 and 8 == 8

In [ ]:
5 == 6 and 8 == 8

In [ ]:
6 == 6 or 7 == 90

In [ ]:
6 > 11 or 7 == 90

In [ ]:
not 45 == 45

In [ ]:
'Катя' not in ['Маша', 'Даша', 'Катя']

# Условные операции в таблицах

| Символ   | Метод                 | Расшифровка                 | Значние                                      |
|:--------:|:---------------------:|:---------------------------:|:--------------------------------------------:|
| **==**   | **eq**                | **eq**ual                   | Равно (проверка на равентсво двух элементов) |
| **!=**   | **ne**                | **n**ot **e**qual           | Не равно                                     |
| **>**    | **gt**                | **g**reater **t**han        | Больше                                       |
| **>=**   | **ge**                | **g**reater or **e**qual    | Больше или равно                             |
| **<**    | **lt**                | **l**ess **t**han           | Меньше                                       |
| **<=**   | **le**                | **l**ess or **e**qual       | Меньше или равно                             |
|          | **isin**              | is in                       | В (проверка на вхождение)                    |
|          | **isna или isnull**   | is na или is null           | Проверка на пропуск                          |
|          | **notna или notnull** | not na или not null         | Проверка на непропуск                        |
|          | **duplicated**        | duplicated                  | Проверка на дубликат                         |

In [ ]:
path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

#### Проверка на равенство

In [ ]:
empl['pos_name']

In [ ]:
empl['pos_name'] == 'Директор магазина'

In [ ]:
# То же самое, что и в предыдущей ячейке
empl['pos_name'].eq('Директор магазина')

То же самое для табельного номера

In [ ]:
empl['i_pernr']

Чтобы можно было дальше работать с результатом как с обычной колонкой, нужно обернуть выражение в круглые скобки

In [ ]:
(empl['i_pernr'] != 1).head()

#### Неравенства

In [ ]:
empl['salary']

In [ ]:
empl['salary'] > 30000

#### Выбор дат

In [ ]:
empl['report_dt']

In [ ]:
# дата записывается как строка
empl['report_dt'] == '2022-12-31'

#### Чем позднее дата, тем она больше

In [ ]:
empl['report_dt'] < '2022-12-31'

#### Проверка на вхождение

In [ ]:
empl['education']

In [ ]:
empl['education'] in ['высшее', 'среднее профессиональное']

In [ ]:
empl['education'].isin(['высшее', 'среднее профессиональное'])

Оператор in преверяет вхождение элемента в индекс, а не в стобец

In [ ]:
'Директор магазина' in empl['pos_name']

In [ ]:
empl['pos_name']

In [ ]:
'Директор магазина' in empl['pos_name'].tolist()

In [ ]:
empl['pos_name'].tolist()

Проверка вхождения одной строки в другую

In [ ]:
empl['pos_name'].str.contains("магазин")

#### Проверка на то, пропущенно ли значение

In [ ]:
empl['employee_evaluation']

In [ ]:
empl['employee_evaluation'].isna()

In [ ]:
empl['employee_evaluation'].notna()

In [ ]:
empl['employee_evaluation'].isnull()

In [ ]:
empl['employee_evaluation'].notnull()

Помимо методов есть аналоги в виде функций с точно такими же названиями

In [ ]:
# pd.isna(empl['closest_boss_pos_id'])
# pd.isnull(empl['closest_boss_pos_id'])
# pd.notnull(empl['closest_boss_pos_id'])
# pd.notna(empl['closest_boss_pos_id'])

In [ ]:
pd.isna(None)

#### Проверка на дубликаты

In [ ]:
# проверка каждой строки на уникальность
empl.duplicated()

In [ ]:
# Проверка колонки fio на уникальность
empl.duplicated('fio')

In [ ]:
empl['fio'].duplicated()

In [ ]:
# Проверка колонок fio и report_dt на уникальность
empl.duplicated(['fio', 'report_dt'])

#### Способы выделения дубликатов

In [ ]:
# True если значение встерчечалось в строчках выше
empl.duplicated('fio')

In [ ]:
# True если значение встерчечалось в строчках ниже
empl.duplicated('fio', keep='last')

In [ ]:
# True если у значения есть дубликат
empl.duplicated('fio', keep=False)

### Проверять условия можно и в датафреймах

In [ ]:
path_marks = '../tables/школьные оценки.xlsx' if os.path.exists('../tables/школьные оценки.xlsx') else 'https://drive.google.com/uc?id=1v9kRv1I03CXtQ6vFE4mE3hFAty436qAo'
marks = pd.read_excel(path_marks)
marks.head()

In [ ]:
(marks == 5).head()

#### Методы all и any

In [ ]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .all()
)

In [ ]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .any()
)

In [ ]:
(marks
    .drop(columns=['ФИО', 'Пол']) 
    .isin([4, 5])
    .all(axis=1)
)

In [ ]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .any(axis=1)
)

#### Можно сравнивать стобцы таблицы между собой

In [ ]:
marks['Математика'] == marks['Русский язык']

In [ ]:
marks['Математика'] > marks['Русский язык']

# Фильтрация строк

__df[ ]__

__df.loc[ ]__

__df.iloc[ ]__

In [ ]:
marks['Математика'] == 3

In [ ]:
marks[marks['Математика'] == 3].head(3)

#### Точно так же можно фильтровать объекты класса Series

In [ ]:
math = marks['Математика'].copy()
math[math >= 4]

Возьмем только отличников по физической культуре

In [ ]:
marks.loc[marks['Физическая культура'] == 5].head(3)

### Составные условия

1. & - проверка того, что оба условия выполняются
2. | - проверка того, что хотя бы одно условие выполняется
3. ~ - отрицание (меняет True на False и наоборот)

In [ ]:
# отбираем тех, у кого по математике 5, а по русскому 4
marks[(marks['Математика'] == 5) & (marks['Русский язык'] == 4)]

In [ ]:
# Отбираем тех, у кого хотя бы по одному из двух предметов 5
marks[(marks['Математика'] == 5) | (marks['Русский язык'] == 5)].head(3)

In [ ]:
# Отбираем тех, у кого по математике не 5
marks[~(marks['Математика'] == 5)].head(3)

In [ ]:
# Отбираем тех, у кого по математике не 5 и не 4
marks[~(marks['Математика'].isin([5, 4]))].head(3)

## Несколько условий нужно писать в скобках

Если не использовать скобки:

In [ ]:
empl[empl['salary_fork'] == 1 & empl['closest_boss_pos_id'].notnull()].head(3)

Если использовать скобки (правильный вариант)

In [ ]:
empl[(empl['salary_fork'] == 1) & empl['closest_boss_pos_id'].notnull()].head(3)

Приоритет у операций и (&), или (|)  выше, чем у операции проверки на равенство

In [ ]:
1 == True

In [ ]:
0 == False

Порядок операций, когда мы не используем скобки:

In [ ]:
empl['closest_boss_pos_id'].notnull()

In [ ]:
cnd = 1 & empl['closest_boss_pos_id'].notnull()

# Внутри это условие воспринимается точно так же как
True & empl['closest_boss_pos_id'].notnull()

In [ ]:
empl[empl['salary_fork'] == 1 & empl['closest_boss_pos_id'].notnull()].head(3)
empl[empl['salary_fork'] == (1 & empl['closest_boss_pos_id'].notnull())].head(3)

# Метод query

In [ ]:
empl.query('salary_fork == 1').head(3)

In [ ]:
empl.query('pos_name == "Продавец-консультант"').head(3)

In [ ]:
empl.query("report_dt == '2022-12-31'").head(3)

In [ ]:
empl.query('report_dt >= "2021-12-31"').head(3)

#### Две нижние записи значат одно и то же

Внутри метода можно использовать стандартные питоновские операторы

In [ ]:
empl.query('(report_dt >= "2021-12-31") and (pos_name == "Кассир")').head(3)

In [ ]:
empl.query('(report_dt >= "2021-12-31") or not (pos_name == "Кассир")').head(3)

Проверка на вхождение

In [ ]:
marks.query('Математика in [3, 4]').head(3)

In [ ]:
empl.query('(report_dt >= "2021-12-31") | ~(pos_name == "Кассир")').head(3)

In [ ]:
marks.query('Математика not in [3, 4]').head(3)

Несколько условий, соедиененых союзом и можно записывать в нескольких методах подряд

In [ ]:
(empl
    .query('report_dt >= "2021-12-31"')
    .query('pos_name == "Кассир"')
    .head(3)
)

### Колонка, содержащая пробел выделяется ` (там где ё)

In [ ]:
marks.query('`Физическая культура` == 5').head(3)

In [ ]:
marks.query('`Физическая культура` == История').head(3)

#### Использование переменных

In [ ]:
students = [
    'Мартынова Елизаваета Фёдоровна',
    'Савина Виктория Тимуровна',
    'Гладкова Мария Максимовна',
    'Лапина Юлия Маратовна',
]

In [ ]:
marks.query('ФИО in @students')

In [ ]:
marks.query(f'ФИО in {students}')

In [ ]:
date = '2015-01-31'
empl.query('report_dt == @date').head(3)

In [ ]:
date = '2015-01-31'
empl.query(f'report_dt == "{date}"').head(3)

Можно использовать методы

In [ ]:
empl.query('closest_boss_pos_id.isna()').head(3)

In [ ]:
marks.query('`Физическая культура`.isin([3, 4])').head(3)

In [ ]:
marks.query("ФИО.str.contains('Данил')")

Удобно использовать метод query совместно с методом assign

In [ ]:
(marks
    .assign(math_rus_history_mean = lambda x: 
            (x["Математика"] + x["Русский язык"] + x["История"]) / 3
           )
    .query('math_rus_history_mean >= 4')
    .drop('math_rus_history_mean', axis=1)
    .head(3)
)

У объектов Series метода query нет. Но их можно переделать в датафрейм

In [ ]:
math.to_frame().query('Математика == [4, 5]')['Математика'].head()

#### Избавляемся от дубликатов

### В метод loc можно передать функцию, которая на вход принимает датафрейм. Возвращать она должна массив True False

Здесь мы хотим вернуть только те строки по стобцам i_pernr и fio, которые представлены в единственном экземпляре

In [ ]:
empl.loc[lambda x: ~x.duplicated('i_pernr', keep=False)].head(3)

Метод loc удобно использовать если надо проверить условие на всю строку или на значительную часть строки

In [ ]:
marks.loc[lambda x: x
    .drop(columns=['ФИО', 'Пол'])
    .isin([5]) # или можно использовать .eq(5)
    .all(axis=1)
          ]

Правда через query это тоже можно сделать

In [ ]:
(marks
    .assign(otlichik = lambda x: x.drop(columns=['ФИО', 'Пол'])
                                    .isin([5]).all(axis=1)
           )
    .query('otlichik')
    .drop('otlichik', axis=1)
)

### Метод drop_duplicates

Оставляем строку если она не встречалась выше в таблице

In [ ]:
empl.drop_duplicates().head(3)

In [ ]:
empl.drop_duplicates('i_pernr', keep='first').head(3) # Это значение по умолчанию

Оставляем строку если она не встречалась ниже в таблице

In [ ]:
empl.drop_duplicates('i_pernr', keep='last').head()

Возвращаем только те строки, которые представленны в единственном экземпляре

In [ ]:
empl.drop_duplicates('i_pernr', keep=False).head(3)

# Присваивание значений на основе условий

In [ ]:
marks_copy = marks.copy()
marks_copy.head()

In [ ]:
# Условие на то, что человек хорошист
condition = (
    marks_copy
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .all(axis=1)
)
condition.head()

#### Использование атрибута loc

In [ ]:
marks_copy.loc[condition, 'Характеристика'] = 'Учится хорошо'
marks_copy.loc[~condition, 'Характеристика'] = 'Учится плохо'
marks_copy.head()

### where

Синсаксис:

np.where(условие, значение если условие выполняется, значение если условие не выполняется)

In [ ]:
np.where(marks.drop(columns=['ФИО', 'Пол']).isin([4, 5]).all(axis=1), # прописываем условие
        'Учится хорошо', 'Учится плохо') # Значение если условие выполняется и не выполняется

In [ ]:
(marks
    .assign(characteristic = lambda x: np.where(x.drop(columns=['ФИО', 'Пол'])
                                                 .isin([4, 5]).all(axis=1),
                                        'Учится хорошо', 'Учится плохо'))
    .head()
)

In [ ]:
(empl
    .assign(bonus = lambda x: np.where(x['mgmt_flag']==1,
                                       x['salary']*0.2,
                                       x['salary']*0.1)
           )
    .head()
)

In [ ]:
(empl
    .assign(bonus = lambda x: np.where(x['mgmt_flag']==1,
                                       x['salary']*0.2,
                                       500)
           )
    .head()
)

### В пандасе есть метод where и mask

In [ ]:
empl['salary'].where(empl['mgmt_flag'] == 1, # условие
                     empl['salary'] * 0.2) # значение если условие не выполняется
# Если условие выполняется, то берется значение из колоноки salary

In [ ]:
empl['salary'].mask(empl['mgmt_flag'] == 1, # услвоие
                    empl['salary'] * 0.2) # значение если условие выполняется
# Если условие не выполняется, то берется значение из колоноки salary

#### Внутри методов можно использовать функции

In [ ]:
empl['salary'].where(lambda x: x > 35000, # услвоие
                     empl['salary'] * 1.2) # значение если условие не выполняется
# Если условие выполняется, то берется значение из колоноки salary

### select
#### Синтаксис:

np.select(список условий, список значений, значение если не выполнилось ни одно условие)

Длинна списоков с условиями и значениями должна быть равна

Условия проверяются в том порядке, в котором они написаны. Если выполнилось одно из условий дальше условия не проверяются

In [ ]:
np.select(
    [marks.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
    marks.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
    
    ['Отличник', 'Хорошист'], 'Троешник')

In [ ]:
(marks
    .assign(characteristics = lambda x: np.select(
        [x.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
        x.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
        ['Отличник', 'Хорошист'], 'Троешник'))
    .head()
)

In [ ]:
(marks
    .assign(characteristics=lambda x: np.select(
        [marks.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
        marks.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
        ['Отличник', 'Хорошист'], 'Троешник'))
#     .query('characteristics == "Отличник"')
    .query('characteristics == "Хорошист"')
#     .query('characteristics == "Троешник"')
    .head()
)

### np.minimum и np.maximum

Функции позволяют сравнивать несколько массивов между собой и возвращать минимум/максимум по каждой строке

In [ ]:
np.minimum(marks['Математика'], marks['История'])

In [ ]:
np.minimum(marks['Математика'], marks['История'], marks['Физика'])

Массив можно сравнивать с константой

In [ ]:
np.maximum(marks['Математика'], 4)

### Clip

Позволяет обрезать значния. 

Все значения ниже указанного числа станут равны указанному числу

In [ ]:
empl['salary']

In [ ]:
empl['salary'].clip(30000)

In [ ]:
# минималььное значение равно 30000
empl['salary'].clip(30000).min()

Если указать два значения, то все значения выше второго будут тоже обрезаны

In [ ]:
empl['salary'].clip(30000, 90000)

In [ ]:
empl['salary'].clip(30000, 90000).min()

In [ ]:
empl['salary'].clip(30000, 90000).max()

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1

Из таблицы w_ends выберите выходные дни

In [ ]:
import os
import pandas as pd

path_w_ends = '../tables/выходные.csv' if os.path.exists('../tables/выходные.csv') else 'https://drive.google.com/uc?id=1hAsoXSPTFihFmBuF-E0uSj9pX4gpojwC'

w_ends = pd.read_csv(path_w_ends)
w_ends.head()

In [ ]:
# Напишите свой код здесь

### Задание 2

Выберите строки таблицы stocks, когда минимальная цена была выше 300

In [ ]:
import os
import pandas as pd

path_stocks = '../tables/stocks.parquet' if os.path.exists('../tables/stocks.parquet') else 'https://drive.google.com/uc?id=1weGquTtmR92mKYAeZhZCFHJjndyoSXZt'

stocks = pd.read_parquet(path_stocks)
stocks.head()

In [ ]:
# Напишите свой код здесь

### Задание 3

Из таблицы shops выберите магазины из Москвы, Саратова и Оренбурга

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops

In [ ]:
# Напишите свой код здесь

### Задание 4

Верно ли что все мелкие магазины расположены вне торговых центров?

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops

In [ ]:
# Напишите свой код здесь

### Задание 5

Выведите имена сотрудниковт мужского пола, которые встречаются в таблице empl только 1 раз

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 6

Сколько уникальных зарплат было в магазинах 31 марта 2020 года?

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 7

Выведите табельные номера (i_pernr) и имена кассиров и старших кассиров, которые когда-либо зарабатывали в магазине менее 20000. В итоговой таблице не должно быть дубликатов

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 8

Выберите тех сотрудников, у которых в июле 2021 года либо не было оценки, либо оценка была выше 7

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 9

Создайте колонку est. Она будет принимать значение 'Работает хорошо' если оценка больше или равна 6 и 'Работает полохо' иначе

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 10

Создайте колонку est. Она будет принимать значение 'Работает хорошо' если оценка больше или равна 6, 'Работает полохо' если  оценка ниже 6 и 'Непонятно' иначе

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 11

Найте минимиальную оценку по русскому языку, математике и истории для каждого школьника

In [ ]:
import os
import pandas as pd

path_marks = '../tables/школьные оценки.xlsx' if os.path.exists('../tables/школьные оценки.xlsx') else 'https://drive.google.com/uc?id=1v9kRv1I03CXtQ6vFE4mE3hFAty436qAo'

marks = pd.read_excel(path_marks)
marks.head()

In [ ]:
# Напишите свой код здесь

### Задание 12

Проверьте, что день рождения сотрудника (birth_date) и его табельный номер (i_pernr) имеют между собой взаимо однозначное соотвествие. 
 

<details>

<summary>Подсказка (кликните сюда 1 раз, если не можете решить)</summary>
 
Это можно сделать при помощи метода drop_duplicates. Сначала удалите из таблицы дубликаты по дате рождения и по табельному номеру. Посмотрите сколько строк получилось в таблице. А затем из получившейся таблицы уберите дублиты по табельному номеру. Число строк в таблице не должно измениться

</details>

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь