<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/09-filter-data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Код из видео

Если вы будете работать с этим ноутбуком в google colab и у вас что-то не будет работать, то раскоментируйте ячейку ниже (для этого выделите содержимое ячейки и нажмите на клавиши ctrl / (если смотреть по английской раскладке или ctrl . для русской), либо просто руками уберите # и пробел после нее в каждой строчке) и запустите ее.

In [ ]:
# import os
# os._exit(00)
# !pip install pyarrow pandas==1.5.3

In [1]:
import pandas as pd
import numpy as np
import os

 Символ   | Значние                                      | Пример   |
|:--------:|:--------------------------------------------:|:--------:|
| ==       | Равно <br>(проверка на равентсво двух элементов)<br> | 1==1     |
| !=       | Не равно                                     | 1 != 2   |
| >        | Больше                                       | 5 > 4    |
| >=       | Больше или равно                             | 4 >= 1   |
| <        | Меньше                                       | 5 < 10   |
| <=       | Меньше или равно                             | 8 <= 10  |

#### Проверка на равенство

In [2]:
1 == 1

True

In [3]:
1 == 2

False

#### Неравенства

In [4]:
5 != 9

True

In [5]:
6 > 6

False

In [6]:
6 >= 6

True

In [7]:
7 < 9

True

In [8]:
10 <= -9

False

#### Сравнение строк

In [9]:
'pandas' == 'pandas'

True

In [10]:
'pandas' == 'PANDAS'

False

Проверка на вхождение элемента в список

In [11]:
'a' in 'pandas'

True

In [12]:
'Катя' in ['Маша', 'Даша', 'Паша']

False

In [13]:
'Катя' in ['Маша', 'Даша', 'Катя']

True

#### Сложные условия

1. and - проверка на то, что 2 условия выполняются одновременно
2. or - проверка на то, что выполняется хотя бы одно из условий
3. not - логическое не (превращает True в False и наоборот)

In [14]:
5 == 5 and 8 == 8

True

In [15]:
5 == 6 and 8 == 8

False

In [16]:
6 == 6 or 7 == 90

True

In [17]:
6 > 11 or 7 == 90

False

In [18]:
not 45 == 45

False

In [19]:
'Катя' not in ['Маша', 'Даша', 'Катя']

False

# Условные операции в таблицах

| Символ   | Метод                 | Расшифровка                 | Значние                                      |
|:--------:|:---------------------:|:---------------------------:|:--------------------------------------------:|
| **==**   | **eq**                | **eq**ual                   | Равно (проверка на равентсво двух элементов) |
| **!=**   | **ne**                | **n**ot **e**qual           | Не равно                                     |
| **>**    | **gt**                | **g**reater **t**han        | Больше                                       |
| **>=**   | **ge**                | **g**reater or **e**qual    | Больше или равно                             |
| **<**    | **lt**                | **l**ess **t**han           | Меньше                                       |
| **<=**   | **le**                | **l**ess or **e**qual       | Меньше или равно                             |
|          | **isin**              | is in                       | В (проверка на вхождение)                    |
|          | **isna или isnull**   | is na или is null           | Проверка на пропуск                          |
|          | **notna или notnull** | not na или not null         | Проверка на непропуск                        |
|          | **duplicated**        | duplicated                  | Проверка на дубликат                         |

In [20]:
path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0
3,2015-01-31,2,Литвинов Александр Максимович,мужской,1,Кассир,14,12,0,0,1969-11-01,среднее общее,3,12600.0
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0

#### Проверка на равенство

In [21]:
empl['pos_name']

0               Директор магазина
1                  Старший кассир
2                          Кассир
3                          Кассир
4            Продавец-консультант
                   ...
29367        Продавец-консультант
29368                   Товаровед
29369                   Товаровед
29370    Мастер по ремонту одежды
29371                     Уборщик
Name: pos_name, Length: 29372, dtype: string

In [22]:
empl['pos_name'] == 'Директор магазина'

0         True
1        False
2        False
3        False
4        False
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: pos_name, Length: 29372, dtype: boolean

In [23]:
# То же самое, что и в предыдущей ячейке
empl['pos_name'].eq('Директор магазина')

0         True
1        False
2        False
3        False
4        False
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: pos_name, Length: 29372, dtype: boolean

То же самое для табельного номера

In [24]:
empl['i_pernr']

0        100000
1             0
2             1
3             2
4             3
          ...
29367      1372
29368      1615
29369      1748
29370      1616
29371      1687
Name: i_pernr, Length: 29372, dtype: int32

Чтобы можно было дальше работать с результатом как с обычной колонкой, нужно обернуть выражение в круглые скобки

In [25]:
(empl['i_pernr'] != 1).head()

0     True
1     True
2    False
3     True
4     True
Name: i_pernr, dtype: bool

#### Неравенства

In [26]:
empl['salary']

0        45700.0
1        20000.0
2        12600.0
3        12600.0
4        15400.0
          ...
29367    38000.0
29368    31800.0
29369    28400.0
29370    35500.0
29371    26400.0
Name: salary, Length: 29372, dtype: float64

In [27]:
empl['salary'] > 30000

0         True
1        False
2        False
3        False
4        False
         ...
29367     True
29368     True
29369    False
29370     True
29371    False
Name: salary, Length: 29372, dtype: bool

#### Выбор дат

In [28]:
empl['report_dt']

0       2015-01-31
1       2015-01-31
2       2015-01-31
3       2015-01-31
4       2015-01-31
           ...
29367   2022-12-31
29368   2022-12-31
29369   2022-12-31
29370   2022-12-31
29371   2022-12-31
Name: report_dt, Length: 29372, dtype: datetime64[ns]

In [29]:
# дата записывается как строка
empl['report_dt'] == '2022-12-31'

0        False
1        False
2        False
3        False
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: report_dt, Length: 29372, dtype: bool

#### Чем позднее дата, тем она позже

In [30]:
empl['report_dt'] < '2022-12-31'

0         True
1         True
2         True
3         True
4         True
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: report_dt, Length: 29372, dtype: bool

#### Проверка на вхождение

In [31]:
empl['education']

0                          высшее
1        среднее профессиональное
2                   среднее общее
3                   среднее общее
4                   среднее общее
                   ...
29367    среднее профессиональное
29368               среднее общее
29369               среднее общее
29370    среднее профессиональное
29371    среднее профессиональное
Name: education, Length: 29372, dtype: string

In [32]:
empl['education'] in ['высшее', 'среднее профессиональное']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
empl['education'].isin(['высшее', 'среднее профессиональное'])

0         True
1         True
2        False
3        False
4        False
         ...
29367     True
29368    False
29369    False
29370     True
29371     True
Name: education, Length: 29372, dtype: bool

Оператор in преверяет вхождение элемента в индекс, а не в стобец

In [34]:
'Директор магазина' in empl['pos_name']

False

In [35]:
empl['pos_name']

0               Директор магазина
1                  Старший кассир
2                          Кассир
3                          Кассир
4            Продавец-консультант
                   ...
29367        Продавец-консультант
29368                   Товаровед
29369                   Товаровед
29370    Мастер по ремонту одежды
29371                     Уборщик
Name: pos_name, Length: 29372, dtype: string

In [36]:
'Директор магазина' in empl['pos_name'].tolist()

True

In [37]:
empl['pos_name'].tolist()

['Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Заместитель директора магазина',
 'Бухгалтер',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Товаровед',
 'Товаровед',
 'Мастер по ремонту одежды',
 'Уборщик',
 'Директор магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Директор магазина',
 'Заместитель директора магазина',
 'Старший кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Кассир',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',
 'Продавец-консультант',

Проверка вхождения одной строки в другую

In [38]:
empl['pos_name'].str.contains("магазин")

0         True
1        False
2        False
3        False
4        False
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: pos_name, Length: 29372, dtype: boolean

#### Проверка на то, пропущенно ли значение

In [39]:
empl['employee_evaluation']

0           5
1           5
2           5
3           3
4        <NA>
         ...
29367       6
29368       6
29369       3
29370       7
29371       8
Name: employee_evaluation, Length: 29372, dtype: Int64

In [40]:
empl['employee_evaluation'].isna()

0        False
1        False
2        False
3        False
4         True
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: employee_evaluation, Length: 29372, dtype: bool

In [41]:
empl['employee_evaluation'].notna()

0         True
1         True
2         True
3         True
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: employee_evaluation, Length: 29372, dtype: bool

In [42]:
empl['employee_evaluation'].isnull()

0        False
1        False
2        False
3        False
4         True
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Name: employee_evaluation, Length: 29372, dtype: bool

In [43]:
empl['employee_evaluation'].notnull()

0         True
1         True
2         True
3         True
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: employee_evaluation, Length: 29372, dtype: bool

Помимо методов есть аналоги в виде функций с точно такими же названиями

In [ ]:
# pd.isna(empl['closest_boss_pos_id'])
# pd.isnull(empl['closest_boss_pos_id'])
# pd.notnull(empl['closest_boss_pos_id'])
# pd.notna(empl['closest_boss_pos_id'])

In [44]:
pd.isna(None)

True

#### Проверка на дубликаты

In [45]:
# проверка каждой строки на уникальность
empl.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Length: 29372, dtype: bool

In [46]:
# Проверка колонки fio на уникальность
empl.duplicated('fio')

0        False
1        False
2        False
3        False
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Length: 29372, dtype: bool

In [47]:
empl['fio'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: fio, Length: 29372, dtype: bool

In [48]:
# Проверка колонок fio и report_dt на уникальность
empl.duplicated(['fio', 'report_dt'])

0        False
1        False
2        False
3        False
4        False
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Length: 29372, dtype: bool

#### Способы выделения дубликатов

In [49]:
# True если значение встерчечалось в строчках выше
empl.duplicated('fio')

0        False
1        False
2        False
3        False
4        False
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Length: 29372, dtype: bool

In [50]:
# True если значение встерчечалось в строчках ниже
empl.duplicated('fio', keep='last')

0         True
1         True
2         True
3         True
4         True
         ...
29367    False
29368    False
29369    False
29370    False
29371    False
Length: 29372, dtype: bool

In [51]:
# True если у значения есть дубликат
empl.duplicated('fio', keep=False)

0        True
1        True
2        True
3        True
4        True
         ...
29367    True
29368    True
29369    True
29370    True
29371    True
Length: 29372, dtype: bool

### Проверять условия можно и в датафреймах

In [52]:
path_marks = '../tables/школьные оценки.xlsx' if os.path.exists('../tables/школьные оценки.xlsx') else 'https://drive.google.com/uc?id=1v9kRv1I03CXtQ6vFE4mE3hFAty436qAo'
marks = pd.read_excel(path_marks)
marks.head()

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

In [53]:
(marks == 5).head()

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False
2,False,False,False,True,True,False,False,True
3,False,False,True,True,True,True,False,True
4,False,False,False,False,False,False,False,False

#### Методы all и any

In [56]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .all()
)

Математика             False
Русский язык           False
Литература             False
Физика                 False
История                False
Физическая культура    False
dtype: bool

In [57]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .any()
)

Математика             True
Русский язык           True
Литература             True
Физика                 True
История                True
Физическая культура    True
dtype: bool

In [58]:
(marks
    .drop(columns=['ФИО', 'Пол']) 
    .isin([4, 5])
    .all(axis=1)
)

0      False
1      False
2      False
3       True
4      False
       ...
140    False
141     True
142    False
143    False
144     True
Length: 145, dtype: bool

In [59]:
(marks
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .any(axis=1)
)

0      True
1      True
2      True
3      True
4      True
       ...
140    True
141    True
142    True
143    True
144    True
Length: 145, dtype: bool

#### Можно сравнивать стобцы таблицы между собой

In [60]:
marks['Математика'] == marks['Русский язык']

0       True
1       True
2      False
3       True
4       True
       ...
140    False
141     True
142    False
143     True
144    False
Length: 145, dtype: bool

In [61]:
marks['Математика'] > marks['Русский язык']

0      False
1      False
2      False
3      False
4      False
       ...
140     True
141    False
142    False
143    False
144    False
Length: 145, dtype: bool

# Фильтрация строк

__df[ ]__

__df.loc[ ]__

__df.iloc[ ]__

In [62]:
marks['Математика'] == 3

0       True
1       True
2      False
3      False
4       True
       ...
140    False
141    False
142     True
143    False
144    False
Name: Математика, Length: 145, dtype: bool

In [63]:
marks[marks['Математика'] == 3].head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

#### Точно так же можно фильтровать объекты класса Series

In [64]:
math = marks['Математика'].copy()
math[math >= 4]

2      4
3      5
5      4
6      4
7      4
      ..
139    5
140    5
141    4
143    4
144    4
Name: Математика, Length: 109, dtype: int64

Возьмем только отличников по физической культуре

In [65]:
marks.loc[marks['Физическая культура'] == 5].head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5

### Составные условия

1. & - проверка того, что оба условия выполняются
2. | - проверка того, что хотя бы одно условие выполняется
3. ~ - отрицание (меняет True на False и наоборот)

In [66]:
# отбираем тех, у кого по математике 5, а по русскому 4
marks[(marks['Математика'] == 5) & (marks['Русский язык'] == 4)]

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
13,Петухов Александр Алексеевич,мужской,5,4,4,5,4,5
14,Панфилов Марат Евгеньевич,мужской,5,4,4,4,4,5
20,Коровин Вячеслав Денисович,мужской,5,4,3,5,3,5
40,Серебрякова София Анатольевна,женский,5,4,4,5,3,3
67,Столярова Дарья Глебовна,женский,5,4,4,5,5,3
91,Филатова Валентина Тимуровна,женский,5,4,4,5,5,4
140,Бычкова Александра Борисовна,женский,5,4,3,5,3,5

In [67]:
# Отбираем тех, у кого хотя бы по одному из двух предметов 5
marks[(marks['Математика'] == 5) | (marks['Русский язык'] == 5)].head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
9,Сухарев Евгений Валерьевич,мужской,3,5,4,4,5,5

In [68]:
# Отбираем тех, у кого по математике не 5
marks[~(marks['Математика'] == 5)].head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5

In [69]:
# Отбираем тех, у кого по математике не 5 и не 4
marks[~(marks['Математика'].isin([5, 4]))].head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

## Несколько условий нужно писать в скобках

Если не использовать скобки:

In [70]:
empl[empl['salary_fork'] == 1 & empl['closest_boss_pos_id'].notnull()].head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
10,2015-02-28,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
22,2015-03-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0

Если использовать скобки (правильный вариант)

In [71]:
empl[(empl['salary_fork'] == 1) & empl['closest_boss_pos_id'].notnull()].head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
41,2015-04-30,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0
72,2015-05-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0
109,2015-06-30,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0

Приоритет у операций и (&), или (|)  выше, чем у операции проверки на равенство

In [72]:
1 == True

True

In [73]:
0 == False

True

Порядок операций, когда мы не используем скобки:

In [74]:
empl['closest_boss_pos_id'].notnull()

0        False
1         True
2         True
3         True
4         True
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: closest_boss_pos_id, Length: 29372, dtype: bool

In [75]:
cnd = 1 & empl['closest_boss_pos_id'].notnull()

# Внутри это условие воспринимается точно так же как
True & empl['closest_boss_pos_id'].notnull()

0        False
1         True
2         True
3         True
4         True
         ...
29367     True
29368     True
29369     True
29370     True
29371     True
Name: closest_boss_pos_id, Length: 29372, dtype: bool

In [ ]:
empl[empl['salary_fork'] == 1 & empl['closest_boss_pos_id'].notnull()].head(3)
empl[empl['salary_fork'] == (1 & empl['closest_boss_pos_id'].notnull())].head(3)

# Метод query

In [76]:
empl.query('salary_fork == 1').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
41,2015-04-30,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0
72,2015-05-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0
109,2015-06-30,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,1,1988-07-17,среднее общее,6,18800.0

In [77]:
empl.query('pos_name == "Продавец-консультант"').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0
5,2015-01-31,4,Никифоров Даниил Глебович,мужской,1,Продавец-консультант,18,11,0,0,1967-10-01,среднее профессиональное,<NA>,15400.0
6,2015-01-31,5,Грачев Даниил Артёмович,мужской,1,Продавец-консультант,19,11,0,0,1987-02-27,основное общее,<NA>,15400.0

In [78]:
empl.query("report_dt == '2022-12-31'").head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
28885,2022-12-31,100213,Васильева Дарья Тимуровна,женский,1,Директор магазина,11,<NA>,1,0,1994-02-16,среднее профессиональное,4,76600.0
28886,2022-12-31,36,Балашов Петр Максимович,мужской,1,Старший кассир,12,11,0,2,1980-09-16,высшее,7,42700.0
28887,2022-12-31,712,Филимонов Дмитрий Васильевич,мужской,1,Кассир,13,12,0,1,1974-12-12,основное общее,4,25000.0

In [79]:
empl.query('report_dt >= "2021-12-31"').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
23199,2021-12-31,100173,Макеева Вероника Григорьевна,женский,1,Директор магазина,11,<NA>,1,0,1967-05-31,высшее,4,70800.0
23200,2021-12-31,36,Балашов Петр Максимович,мужской,1,Старший кассир,12,11,0,2,1980-09-16,высшее,7,39900.0
23201,2021-12-31,1334,Максимов Даниил Андреевич,мужской,1,Кассир,13,12,0,2,1973-10-20,среднее профессиональное,6,27200.0

#### Две нижние записи значат одно и то же

Внутри метода можно использовать стандартные питоновские операторы

In [80]:
empl.query('(report_dt >= "2021-12-31") and (pos_name == "Кассир")').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
23201,2021-12-31,1334,Максимов Даниил Андреевич,мужской,1,Кассир,13,12,0,2,1973-10-20,среднее профессиональное,6,27200.0
23202,2021-12-31,1479,Стариков Данил Александрович,мужской,1,Кассир,14,12,0,0,1986-03-28,среднее профессиональное,5,19700.0
23203,2021-12-31,1310,Киреев Дмитрий Кириллович,мужской,1,Кассир,15,12,0,1,1978-05-15,среднее общее,6,22400.0

In [81]:
empl.query('(report_dt >= "2021-12-31") or not (pos_name == "Кассир")').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0

Проверка на вхождение

In [82]:
marks.query('Математика in [3, 4]').head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5

In [83]:
empl.query('(report_dt >= "2021-12-31") | ~(pos_name == "Кассир")').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0

In [84]:
marks.query('Математика not in [3, 4]').head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
13,Петухов Александр Алексеевич,мужской,5,4,4,5,4,5
14,Панфилов Марат Евгеньевич,мужской,5,4,4,4,4,5

Несколько условий, соедиененых союзом и можно записывать в нескольких методах подряд

In [85]:
(empl
    .query('report_dt >= "2021-12-31"')
    .query('pos_name == "Кассир"')
    .head(3)
)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
23201,2021-12-31,1334,Максимов Даниил Андреевич,мужской,1,Кассир,13,12,0,2,1973-10-20,среднее профессиональное,6,27200.0
23202,2021-12-31,1479,Стариков Данил Александрович,мужской,1,Кассир,14,12,0,0,1986-03-28,среднее профессиональное,5,19700.0
23203,2021-12-31,1310,Киреев Дмитрий Кириллович,мужской,1,Кассир,15,12,0,1,1978-05-15,среднее общее,6,22400.0

### Колонка, содержащая пробел выделяется ` (там где ё)

In [86]:
marks.query('`Физическая культура` == 5').head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5

In [87]:
marks.query('`Физическая культура` == История').head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
9,Сухарев Евгений Валерьевич,мужской,3,5,4,4,5,5
11,Бородина Валерия Даниловна,женский,3,4,5,3,5,5

#### Использование переменных

In [88]:
students = [
    'Мартынова Елизаваета Фёдоровна',
    'Савина Виктория Тимуровна',
    'Гладкова Мария Максимовна',
    'Лапина Юлия Маратовна',
]

In [89]:
marks.query('ФИО in @students')

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
48,Савина Виктория Тимуровна,женский,4,5,5,3,5,5
71,Гладкова Мария Максимовна,женский,4,4,4,3,4,5
79,Лапина Юлия Маратовна,женский,5,5,4,5,4,3
132,Мартынова Елизаваета Фёдоровна,женский,3,3,3,4,3,4

In [90]:
marks.query(f'ФИО in {students}')

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
48,Савина Виктория Тимуровна,женский,4,5,5,3,5,5
71,Гладкова Мария Максимовна,женский,4,4,4,3,4,5
79,Лапина Юлия Маратовна,женский,5,5,4,5,4,3
132,Мартынова Елизаваета Фёдоровна,женский,3,3,3,4,3,4

In [91]:
date = '2015-01-31'
empl.query('report_dt == @date').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0

In [92]:
date = '2015-01-31'
empl.query(f'report_dt == "{date}"').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0

Можно использовать методы

In [93]:
empl.query('closest_boss_pos_id.isna()').head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
10,2015-02-28,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
22,2015-03-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0

In [94]:
marks.query('`Физическая культура`.isin([3, 4])').head(3)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3
10,Суслов Артём Глебович,мужской,4,4,4,3,3,4

In [95]:
marks.query("ФИО.str.contains('Данил')")

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
11,Бородина Валерия Даниловна,женский,3,4,5,3,5,5
16,Фомичева Ольга Даниловна,женский,4,4,4,5,4,4
22,Молчанов Владимир Данилович,мужской,4,4,4,4,4,4
41,Щербаков Данил Русланович,мужской,5,5,5,5,5,5
83,Носов Данил Дмитриевич,мужской,4,5,4,4,4,5

Удобно использовать метод query совместно с методом assign

In [96]:
(marks
    .assign(math_rus_history_mean = lambda x: 
            (x["Математика"] + x["Русский язык"] + x["История"]) / 3
           )
    .query('math_rus_history_mean >= 4')
    .drop('math_rus_history_mean', axis=1)
    .head(3)
)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
7,Михайлова Ксения Родионовна,женский,4,4,3,4,4,5

У объектов Series метода query нет. Но их можно переделать в датафрейм

In [97]:
math.to_frame().query('Математика == [4, 5]')['Математика'].head()

2    4
3    5
5    4
6    4
7    4
Name: Математика, dtype: int64

#### Избавляемся от дубликатов

### В метод loc можно передать функцию, которая на вход принимает датафрейм. Возвращать она должна массив True False

Здесь мы хотим вернуть только те строки по стобцам i_pernr и fio, которые представлены в единственном экземпляре

In [98]:
empl.loc[lambda x: ~x.duplicated('i_pernr', keep=False)].head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
573,2016-03-31,69,Рубцов Илья Тимурович,мужской,5,Кассир,55,52,0,0,1997-04-04,основное общее,6,15400.0
1239,2016-09-30,129,Борисова Елизаваета Максимовна,женский,5,Продавец-консультант,513,51,0,0,1970-06-13,среднее общее,5,19500.0
5170,2018-04-30,483,Медведев Святослав Владимирович,мужской,16,Продавец-консультант,1616,162,0,0,1983-08-03,среднее общее,4,21300.0

Метод loc удобно использовать если надо проверить условие на всю строку или на значительную часть строки

In [99]:
marks.loc[lambda x: x
    .drop(columns=['ФИО', 'Пол'])
    .isin([5]) # или можно использовать .eq(5)
    .all(axis=1)
          ]

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
15,Минина Маргарита Кирилловна,женский,5,5,5,5,5,5
23,Яшин Давид Антонович,мужской,5,5,5,5,5,5
38,Кочетков Лев Евгеньевич,мужской,5,5,5,5,5,5
39,Калинин Владимир Олегович,мужской,5,5,5,5,5,5
41,Щербаков Данил Русланович,мужской,5,5,5,5,5,5
108,Дубинин Иван Валерьевич,мужской,5,5,5,5,5,5
113,Астафьева София Александровна,женский,5,5,5,5,5,5

Правда через query это тоже можно сделать

In [100]:
(marks
    .assign(otlichik = lambda x: x.drop(columns=['ФИО', 'Пол'])
                                    .isin([5]).all(axis=1)
           )
    .query('otlichik')
    .drop('otlichik', axis=1)
)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
15,Минина Маргарита Кирилловна,женский,5,5,5,5,5,5
23,Яшин Давид Антонович,мужской,5,5,5,5,5,5
38,Кочетков Лев Евгеньевич,мужской,5,5,5,5,5,5
39,Калинин Владимир Олегович,мужской,5,5,5,5,5,5
41,Щербаков Данил Русланович,мужской,5,5,5,5,5,5
108,Дубинин Иван Валерьевич,мужской,5,5,5,5,5,5
113,Астафьева София Александровна,женский,5,5,5,5,5,5

### Метод drop_duplicates

Оставляем строку если она не встречалась выше в таблице

In [101]:
empl.drop_duplicates().head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0

In [102]:
empl.drop_duplicates('i_pernr', keep='first').head(3) # Это значение по умолчанию

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0

Оставляем строку если она не встречалась ниже в таблице

In [103]:
empl.drop_duplicates('i_pernr', keep='last').head()

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
146,2015-07-31,11,Мельников Игорь Семёнович,мужской,1,Кассир,16,12,0,0,1965-12-01,основное общее,6,12800.0
151,2015-07-31,7,Воробьев Семён Александрович,мужской,1,Продавец-консультант,111,11,0,0,1985-07-29,среднее общее,5,15400.0
180,2015-08-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
251,2015-09-30,22,Ершова Маргарита Николаевна,женский,2,Продавец-консультант,221,22,0,0,1996-09-09,среднее общее,4,26400.0
291,2015-10-31,34,Свиридова Виктория Тимуровна,женский,2,Продавец-консультант,222,22,0,0,1990-08-11,среднее общее,4,26800.0

Возвращаем только те строки, которые представленны в единственном экземпляре

In [104]:
empl.drop_duplicates('i_pernr', keep=False).head(3)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
573,2016-03-31,69,Рубцов Илья Тимурович,мужской,5,Кассир,55,52,0,0,1997-04-04,основное общее,6,15400.0
1239,2016-09-30,129,Борисова Елизаваета Максимовна,женский,5,Продавец-консультант,513,51,0,0,1970-06-13,среднее общее,5,19500.0
5170,2018-04-30,483,Медведев Святослав Владимирович,мужской,16,Продавец-консультант,1616,162,0,0,1983-08-03,среднее общее,4,21300.0

# Присваивание значений на основе условий

In [105]:
marks_copy = marks.copy()
marks_copy.head()

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3

In [106]:
# Условие на то, что человек хорошист
condition = (
    marks_copy
    .drop(columns=['ФИО', 'Пол'])
    .isin([4, 5])
    .all(axis=1)
)
condition.head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

#### Использование атрибута loc

In [108]:
marks_copy.loc[condition, 'Характеристика'] = 'Учится хорошо'
marks_copy.loc[~condition, 'Характеристика'] = 'Учится плохо'
marks_copy.head()

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура,Характеристика
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5,Учится плохо
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3,Учится плохо
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5,Учится плохо
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5,Учится хорошо
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3,Учится плохо

### where

Синсаксис:

np.where(условие, значение если условие выполняется, значение если условие не выполняется)

In [109]:
np.where(marks.drop(columns=['ФИО', 'Пол']).isin([4, 5]).all(axis=1), # прописываем условие
        'Учится хорошо', 'Учится плохо') # Значение если условие выполняется и не выполняется

array(['Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится хорошо', 'Учится хорошо', 'Учится хорошо', 'Учится хорошо',
       'Учится хорошо', 'Учится хорошо', 'Учится хорошо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится хорошо', 'Учится хорошо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится плохо', 'Учится плохо', 'Учится хорошо', 'Учится хорошо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится хорошо', 'Учится плохо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится хорошо', 'Учится плохо', 'Учится хорошо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится хорошо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится плохо', 'Учится плохо', 'Учится хорошо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится хорошо', 'Учится плохо',
       'Учится хорошо', 'Учится хорошо', 'Учится хорошо', 'Учится хорошо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится хорошо', 'Учится хорошо', 'Учится плохо', 'Учится хорошо',
       'Учится хорошо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится хорошо',
       'Учится плохо', 'Учится хорошо', 'Учится хорошо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится плохо', 'Учится плохо', 'Учится плохо',
       'Учится плохо', 'Учится хорошо', 'Учится плохо', 'Учится плохо',
       'Учится хорошо'], dtype='<U13')

In [110]:
(marks
    .assign(characteristic = lambda x: np.where(x.drop(columns=['ФИО', 'Пол'])
                                                 .isin([4, 5]).all(axis=1),
                                        'Учится хорошо', 'Учится плохо'))
    .head()
)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура,characteristic
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5,Учится плохо
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3,Учится плохо
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5,Учится плохо
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5,Учится хорошо
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3,Учится плохо

In [111]:
(empl
    .assign(bonus = lambda x: np.where(x['mgmt_flag']==1,
                                       x['salary']*0.2,
                                       x['salary']*0.1)
           )
    .head()
)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary,bonus
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,9140.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0,2000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0,1260.0
3,2015-01-31,2,Литвинов Александр Максимович,мужской,1,Кассир,14,12,0,0,1969-11-01,среднее общее,3,12600.0,1260.0
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0,1540.0

In [112]:
(empl
    .assign(bonus = lambda x: np.where(x['mgmt_flag']==1,
                                       x['salary']*0.2,
                                       500)
           )
    .head()
)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary,bonus
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,9140.0
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0,500.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0,500.0
3,2015-01-31,2,Литвинов Александр Максимович,мужской,1,Кассир,14,12,0,0,1969-11-01,среднее общее,3,12600.0,500.0
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0,500.0

### В пандасе есть метод where и mask

In [113]:
empl['salary'].where(empl['mgmt_flag'] == 1, # условие
                     empl['salary'] * 0.2) # значение если условие не выполняется
# Если условие выполняется, то берется значение из колоноки salary

0        45700.0
1         4000.0
2         2520.0
3         2520.0
4         3080.0
          ...
29367     7600.0
29368     6360.0
29369     5680.0
29370     7100.0
29371     5280.0
Name: salary, Length: 29372, dtype: float64

In [114]:
empl['salary'].mask(empl['mgmt_flag'] == 1, # услвоие
                    empl['salary'] * 0.2) # значение если условие выполняется
# Если условие не выполняется, то берется значение из колоноки salary

0         9140.0
1        20000.0
2        12600.0
3        12600.0
4        15400.0
          ...
29367    38000.0
29368    31800.0
29369    28400.0
29370    35500.0
29371    26400.0
Name: salary, Length: 29372, dtype: float64

#### Внутри методов можно использовать функции

In [115]:
empl['salary'].where(lambda x: x > 35000, # услвоие
                     empl['salary'] * 1.2) # значение если условие не выполняется
# Если условие выполняется, то берется значение из колоноки salary

0        45700.0
1        24000.0
2        15120.0
3        15120.0
4        18480.0
          ...
29367    38000.0
29368    38160.0
29369    34080.0
29370    35500.0
29371    31680.0
Name: salary, Length: 29372, dtype: float64

### select
#### Синтаксис:

np.select(список условий, список значений, значение если не выполнилось ни одно условие)

Длинна списоков с условиями и значениями должна быть равна

Условия проверяются в том порядке, в котором они написаны. Если выполнилось одно из условий дальше условия не проверяются

In [116]:
np.select(
    [marks.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
    marks.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
    
    ['Отличник', 'Хорошист'], 'Троешник')

array(['Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Троешник', 'Хорошист', 'Хорошист', 'Хорошист',
       'Отличник', 'Хорошист', 'Хорошист', 'Хорошист', 'Троешник',
       'Троешник', 'Хорошист', 'Хорошист', 'Отличник', 'Троешник',
       'Хорошист', 'Троешник', 'Троешник', 'Троешник', 'Хорошист',
       'Троешник', 'Троешник', 'Хорошист', 'Троешник', 'Троешник',
       'Хорошист', 'Троешник', 'Троешник', 'Отличник', 'Отличник',
       'Троешник', 'Отличник', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Хорошист', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Хорошист', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Хорошист', 'Хорошист', 'Троешник', 'Хорошист',
       'Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Хорошист', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Хорошист',
       'Троешник', 'Троешник', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Хорошист', 'Троешник', 'Троешник', 'Хорошист',
       'Троешник', 'Троешник', 'Хорошист', 'Хорошист', 'Троешник',
       'Хорошист', 'Хорошист', 'Хорошист', 'Хорошист', 'Троешник',
       'Троешник', 'Троешник', 'Хорошист', 'Отличник', 'Троешник',
       'Троешник', 'Хорошист', 'Хорошист', 'Отличник', 'Троешник',
       'Хорошист', 'Хорошист', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Хорошист', 'Хорошист', 'Троешник', 'Троешник', 'Хорошист',
       'Троешник', 'Троешник', 'Троешник', 'Хорошист', 'Троешник',
       'Троешник', 'Троешник', 'Троешник', 'Троешник', 'Троешник',
       'Троешник', 'Хорошист', 'Троешник', 'Троешник', 'Хорошист'],
      dtype='<U8')

In [117]:
(marks
    .assign(characteristics = lambda x: np.select(
        [x.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
        x.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
        ['Отличник', 'Хорошист'], 'Троешник'))
    .head()
)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура,characteristics
0,Суханова Маргарита Богдановна,женский,3,3,3,3,3,5,Троешник
1,Лаврентьев Давид Анатольевич,мужской,3,3,3,5,3,3,Троешник
2,Винниченко Дарья Максимовна,женский,4,5,5,3,4,5,Троешник
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5,Хорошист
4,Кулешов Евгений Маратович,мужской,3,3,4,3,4,3,Троешник

In [119]:
(marks
    .assign(characteristics=lambda x: np.select(
        [marks.drop(columns=['ФИО', 'Пол']).isin([5]).all(axis=1),
        marks.drop(columns=['ФИО', 'Пол']).isin([5, 4]).all(axis=1)],
        ['Отличник', 'Хорошист'], 'Троешник'))
#     .query('characteristics == "Отличник"')
    .query('characteristics == "Хорошист"')
#     .query('characteristics == "Троешник"')
    .head()
)

,ФИО,Пол,Математика,Русский язык,Литература,Физика,История,Физическая культура,characteristics
3,Козлова Маргарита Максимовна,женский,5,5,5,5,4,5,Хорошист
12,Казанцева Мария Владимировна,женский,4,4,4,4,4,5,Хорошист
13,Петухов Александр Алексеевич,мужской,5,4,4,5,4,5,Хорошист
14,Панфилов Марат Евгеньевич,мужской,5,4,4,4,4,5,Хорошист
16,Фомичева Ольга Даниловна,женский,4,4,4,5,4,4,Хорошист

### np.minimum и np.maximum

Функции позволяют сравнивать несколько массивов между собой и возвращать минимум/максимум по каждой строке

In [120]:
np.minimum(marks['Математика'], marks['История'])

0      3
1      3
2      4
3      4
4      3
      ..
140    3
141    4
142    3
143    3
144    4
Length: 145, dtype: int64

In [121]:
np.minimum(marks['Математика'], marks['История'], marks['Физика'])

C:\Users\Александр\AppData\Local\Temp\ipykernel_8884\1545420082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  np.minimum(marks['Математика'], marks['История'], marks['Физика'])

0      3
1      3
2      4
3      4
4      3
      ..
140    3
141    4
142    3
143    3
144    4
Name: Физика, Length: 145, dtype: int64

Массив можно сравнивать с константой

In [122]:
np.maximum(marks['Математика'], 4)

0      4
1      4
2      4
3      5
4      4
      ..
140    5
141    4
142    4
143    4
144    4
Name: Математика, Length: 145, dtype: int64

### Clip

Позволяет обрезать значния. 

Все значения ниже указанного числа станут равны указанному числу

In [123]:
empl['salary']

0        45700.0
1        20000.0
2        12600.0
3        12600.0
4        15400.0
          ...
29367    38000.0
29368    31800.0
29369    28400.0
29370    35500.0
29371    26400.0
Name: salary, Length: 29372, dtype: float64

In [124]:
empl['salary'].clip(30000)

0        45700.0
1        30000.0
2        30000.0
3        30000.0
4        30000.0
          ...
29367    38000.0
29368    31800.0
29369    30000.0
29370    35500.0
29371    30000.0
Name: salary, Length: 29372, dtype: float64

In [125]:
# минималььное значение равно 30000
empl['salary'].clip(30000).min()

30000.0

Если указать два значения, то все значения выше второго будут тоже обрезаны

In [126]:
empl['salary'].clip(30000, 90000)

0        45700.0
1        30000.0
2        30000.0
3        30000.0
4        30000.0
          ...
29367    38000.0
29368    31800.0
29369    30000.0
29370    35500.0
29371    30000.0
Name: salary, Length: 29372, dtype: float64

In [127]:
empl['salary'].clip(30000, 90000).min()

30000.0

In [128]:
empl['salary'].clip(30000, 90000).max()

90000.0

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

Если вы будете работать с этим ноутбуком в google colab и у вас что-то не будет работать, то раскоментируйте ячейку ниже (для этого выделите содержимое ячейки и нажмите на клавиши ctrl / (если смотреть по английской раскладке или ctrl . для русской), либо просто руками уберите # и пробел после нее в каждой строчке) и запустите ее.

In [ ]:
# import os
# os._exit(00)
# !pip install pyarrow pandas==1.5.3

### Задание 1

Из таблицы w_ends выберите выходные дни

In [ ]:
import os
import pandas as pd

path_w_ends = '../tables/выходные.csv' if os.path.exists('../tables/выходные.csv') else 'https://drive.google.com/uc?id=1hAsoXSPTFihFmBuF-E0uSj9pX4gpojwC'

w_ends = pd.read_csv(path_w_ends)
w_ends.head()

In [ ]:
# Напишите свой код здесь

### Задание 2

Выберите строки таблицы stocks, когда минимальная цена была выше 300

In [ ]:
import os
import pandas as pd

path_stocks = '../tables/stocks.parquet' if os.path.exists('../tables/stocks.parquet') else 'https://drive.google.com/uc?id=1weGquTtmR92mKYAeZhZCFHJjndyoSXZt'

stocks = pd.read_parquet(path_stocks)
stocks.head()

In [ ]:
# Напишите свой код здесь

### Задание 3

Из таблицы shops выберите магазины из Москвы, Саратова и Оренбурга

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops

In [ ]:
# Напишите свой код здесь

### Задание 4

Верно ли что все мелкие магазины расположены вне торговых центров?

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops

In [ ]:
# Напишите свой код здесь

### Задание 5

Выведите имена сотрудниковт мужского пола, которые встречаются в таблице empl только 1 раз

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 6

Сколько уникальных зарплат было в магазинах 31 марта 2020 года?

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 7

Выведите табельные номера (i_pernr) и имена кассиров и старших кассиров, которые когда-либо зарабатывали в магазине менее 20000. В итоговой таблице не должно быть дубликатов

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 8

Выберите тех сотрудников, у которых в июле 2021 года либо не было оценки, либо оценка была выше 7

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 9

Создайте колонку est. Она будет принимать значение 'Работает хорошо' если оценка больше или равна 6 и 'Работает полохо' иначе

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 10

Создайте колонку est. Она будет принимать значение 'Работает хорошо' если оценка больше или равна 6, 'Работает полохо' если  оценка ниже 6 и 'Непонятно' иначе

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

### Задание 11

Найте минимиальную оценку по русскому языку, математике и истории для каждого школьника

In [ ]:
import os
import pandas as pd

path_marks = '../tables/школьные оценки.xlsx' if os.path.exists('../tables/школьные оценки.xlsx') else 'https://drive.google.com/uc?id=1v9kRv1I03CXtQ6vFE4mE3hFAty436qAo'

marks = pd.read_excel(path_marks)
marks.head()

In [ ]:
# Напишите свой код здесь

### Задание 12

Проверьте, что день рождения сотрудника (birth_date) и его табельный номер (i_pernr) имеют между собой взаимо однозначное соотвествие. 
 

<details>

<summary>Подсказка (кликните сюда 1 раз, если не можете решить)</summary>
 
Это можно сделать при помощи метода drop_duplicates. Сначала удалите из таблицы дубликаты по дате рождения и по табельному номеру. Посмотрите сколько строк получилось в таблице. А затем из получившейся таблицы уберите дублиты по табельному номеру. Число строк в таблице не должно измениться

</details>

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# Напишите свой код здесь

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\Александр\AppData\Local\Temp\ipykernel_12748\3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML