<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/19-strings.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
import pandas as pd
import os

Читаем таблицы

In [2]:
path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'
path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

goods_descr = pd.read_parquet(path_goods_descr)
empl = pd.read_parquet(path_empl)
goods_descr['description']

0        Shirts by River Island Do the smart thing Spre...
1        Shirts by River Island Do the smart thing Spre...
2        Shirts by River Island Do the smart thing Spre...
3        Shirts by River Island Do the smart thing Spre...
4        Shirts by River Island Do the smart thing Spre...
                               ...
81853    Leggings by Missguided Go with the faux High r...
81854    Leggings by Missguided Go with the faux High r...
81855    Trousers by NaaNaa For your non-denim days Dog...
81856    Trousers by NaaNaa For your non-denim days Dog...
81857    Trousers by NaaNaa For your non-denim days Dog...
Name: description, Length: 81858, dtype: string

#### Чтобы посмотреть строки полностью, можно преобразовать колонку в список

In [3]:
goods_descr['description'].head(10).tolist()

['Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit']

#### Приведение строк к нижнему регистру

In [4]:
goods_descr['description'].str.lower()

0        shirts by river island do the smart thing spre...
1        shirts by river island do the smart thing spre...
2        shirts by river island do the smart thing spre...
3        shirts by river island do the smart thing spre...
4        shirts by river island do the smart thing spre...
                               ...
81853    leggings by missguided go with the faux high r...
81854    leggings by missguided go with the faux high r...
81855    trousers by naanaa for your non-denim days dog...
81856    trousers by naanaa for your non-denim days dog...
81857    trousers by naanaa for your non-denim days dog...
Name: description, Length: 81858, dtype: string

#### Приведение строк к верхнему регистру

In [5]:
goods_descr['description'].str.upper()

0        SHIRTS BY RIVER ISLAND DO THE SMART THING SPRE...
1        SHIRTS BY RIVER ISLAND DO THE SMART THING SPRE...
2        SHIRTS BY RIVER ISLAND DO THE SMART THING SPRE...
3        SHIRTS BY RIVER ISLAND DO THE SMART THING SPRE...
4        SHIRTS BY RIVER ISLAND DO THE SMART THING SPRE...
                               ...
81853    LEGGINGS BY MISSGUIDED GO WITH THE FAUX HIGH R...
81854    LEGGINGS BY MISSGUIDED GO WITH THE FAUX HIGH R...
81855    TROUSERS BY NAANAA FOR YOUR NON-DENIM DAYS DOG...
81856    TROUSERS BY NAANAA FOR YOUR NON-DENIM DAYS DOG...
81857    TROUSERS BY NAANAA FOR YOUR NON-DENIM DAYS DOG...
Name: description, Length: 81858, dtype: string

#### Первая буква - заглавная, а остальные строчные

In [6]:
goods_descr['description'].str.capitalize()

0        Shirts by river island do the smart thing spre...
1        Shirts by river island do the smart thing spre...
2        Shirts by river island do the smart thing spre...
3        Shirts by river island do the smart thing spre...
4        Shirts by river island do the smart thing spre...
                               ...
81853    Leggings by missguided go with the faux high r...
81854    Leggings by missguided go with the faux high r...
81855    Trousers by naanaa for your non-denim days dog...
81856    Trousers by naanaa for your non-denim days dog...
81857    Trousers by naanaa for your non-denim days dog...
Name: description, Length: 81858, dtype: string

#### Первая буква в каждом слове - заглавная, а остальные строчные

In [7]:
goods_descr['description'].str.title()

0        Shirts By River Island Do The Smart Thing Spre...
1        Shirts By River Island Do The Smart Thing Spre...
2        Shirts By River Island Do The Smart Thing Spre...
3        Shirts By River Island Do The Smart Thing Spre...
4        Shirts By River Island Do The Smart Thing Spre...
                               ...
81853    Leggings By Missguided Go With The Faux High R...
81854    Leggings By Missguided Go With The Faux High R...
81855    Trousers By Naanaa For Your Non-Denim Days Dog...
81856    Trousers By Naanaa For Your Non-Denim Days Dog...
81857    Trousers By Naanaa For Your Non-Denim Days Dog...
Name: description, Length: 81858, dtype: string

#### Заглавные и строчные буквы меняются

In [8]:
goods_descr['description'].str.swapcase()

0        sHIRTS BY rIVER iSLAND dO THE SMART THING sPRE...
1        sHIRTS BY rIVER iSLAND dO THE SMART THING sPRE...
2        sHIRTS BY rIVER iSLAND dO THE SMART THING sPRE...
3        sHIRTS BY rIVER iSLAND dO THE SMART THING sPRE...
4        sHIRTS BY rIVER iSLAND dO THE SMART THING sPRE...
                               ...
81853    lEGGINGS BY mISSGUIDED gO WITH THE FAUX hIGH R...
81854    lEGGINGS BY mISSGUIDED gO WITH THE FAUX hIGH R...
81855    tROUSERS BY nAAnAA fOR YOUR NON-DENIM DAYS dOG...
81856    tROUSERS BY nAAnAA fOR YOUR NON-DENIM DAYS dOG...
81857    tROUSERS BY nAAnAA fOR YOUR NON-DENIM DAYS dOG...
Name: description, Length: 81858, dtype: string

#### Срезы строк
Берем первые я символов в каждой строке

In [9]:
goods_descr['description'].str[:5]

0        Shirt
1        Shirt
2        Shirt
3        Shirt
4        Shirt
         ...
81853    Leggi
81854    Leggi
81855    Trous
81856    Trous
81857    Trous
Name: description, Length: 81858, dtype: string

In [10]:
goods_descr['description'].str[7:18]

0        by River Is
1        by River Is
2        by River Is
3        by River Is
4        by River Is
            ...
81853    s by Missgu
81854    s by Missgu
81855    s by NaaNaa
81856    s by NaaNaa
81857    s by NaaNaa
Name: description, Length: 81858, dtype: string

In [11]:
goods_descr['description'].str[-10:]

0        t Slim fit
1        t Slim fit
2        t Slim fit
3        t Slim fit
4        t Slim fit
            ...
81853    odycon fit
81854    odycon fit
81855     the waist
81856     the waist
81857     the waist
Name: description, Length: 81858, dtype: string

#### Убираем строку из начала или конца строки если она есть

In [12]:
goods_descr['description']

0        Shirts by River Island Do the smart thing Spre...
1        Shirts by River Island Do the smart thing Spre...
2        Shirts by River Island Do the smart thing Spre...
3        Shirts by River Island Do the smart thing Spre...
4        Shirts by River Island Do the smart thing Spre...
                               ...
81853    Leggings by Missguided Go with the faux High r...
81854    Leggings by Missguided Go with the faux High r...
81855    Trousers by NaaNaa For your non-denim days Dog...
81856    Trousers by NaaNaa For your non-denim days Dog...
81857    Trousers by NaaNaa For your non-denim days Dog...
Name: description, Length: 81858, dtype: string

In [13]:
goods_descr['description'].str.removeprefix('Shirts')

0         by River Island Do the smart thing Spread col...
1         by River Island Do the smart thing Spread col...
2         by River Island Do the smart thing Spread col...
3         by River Island Do the smart thing Spread col...
4         by River Island Do the smart thing Spread col...
                               ...
81853    Leggings by Missguided Go with the faux High r...
81854    Leggings by Missguided Go with the faux High r...
81855    Trousers by NaaNaa For your non-denim days Dog...
81856    Trousers by NaaNaa For your non-denim days Dog...
81857    Trousers by NaaNaa For your non-denim days Dog...
Name: description, Length: 81858, dtype: string

In [14]:
goods_descr['description'].iloc[-10:].tolist()

['Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon fit',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist']

In [15]:
goods_descr['description'].str.removesuffix('fit').iloc[-10:].tolist()

['Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Leggings by Missguided Go with the faux High rise Elasticated waist Bodycon ',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist',
 'Trousers by NaaNaa For your non-denim days Dogtooth pattern High rise Split cuffs Zip-side fastening Straight fit Regular on the waist']

#### strip удаляет указанные символы из начала и конца строки 

lstrip удаляет символы из начала строки

rstrip удаляет символы из конца строки

In [16]:
goods_descr['description'].head(7).tolist()

['Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'Shirts by River Island Do the smart thing Spread collar Press-stud placket Slim fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fit']

In [17]:
goods_descr['description'].head(7).str.strip('SLht').tolist()

['irts by River Island Do the smart thing Spread collar Press-stud placket Slim fi',
 'irts by River Island Do the smart thing Spread collar Press-stud placket Slim fi',
 'irts by River Island Do the smart thing Spread collar Press-stud placket Slim fi',
 'irts by River Island Do the smart thing Spread collar Press-stud placket Slim fi',
 'irts by River Island Do the smart thing Spread collar Press-stud placket Slim fi',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fi',
 'T-Shirts & Vests by River Island File under: basics Pack of five Crew neck Short sleeves Regular fi']

#### Расчет длинны строки

In [18]:
goods_descr['description'].str.len()

0         83
1         83
2         83
3         83
4         83
        ...
81853     79
81854     79
81855    134
81856    134
81857    134
Name: description, Length: 81858, dtype: Int64

#### Поиск первой подстроки в строке
Метод find возващает индекс первого символа подстроки в строке

Если подстрока не нашлась возвращается -1

In [19]:
empl['fio']

0                Кожевников Андрей Максимович
1                 Дубинина Надежда Николаевна
2        Вишневскиая Валентина Константиновна
3               Литвинов Александр Максимович
4                   Черняева Валерия Глебовна
                         ...
29367              Морозова Раиса Ярославовна
29368              Фадеева Евгения Данииловна
29369             Измайлов Григорий Артемович
29370               Русаков Евгений Тимурович
29371                Суханова Дарья Фёдоровна
Name: fio, Length: 29372, dtype: string

In [20]:
empl['fio'].str.find('Андрей')

0        11
1        -1
2        -1
3        -1
4        -1
         ..
29367    -1
29368    -1
29369    -1
29370    -1
29371    -1
Name: fio, Length: 29372, dtype: Int64

#### На основе этого можно фильтровать строки таблицы

In [21]:
empl.query('fio.str.find("Андрей") >= 0').head()

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
10,2015-02-28,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
22,2015-03-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
35,2015-04-30,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,6,45700.0
49,2015-04-30,100002,Широков Андрей Константинович,мужской,2,Заместитель директора магазина,22,21,1,0,1973-01-17,высшее,<NA>,67600.0

In [22]:
empl.query('fio.str.contains("Андрей")').head()

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
10,2015-02-28,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
22,2015-03-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0
35,2015-04-30,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,6,45700.0
49,2015-04-30,100002,Широков Андрей Константинович,мужской,2,Заместитель директора магазина,22,21,1,0,1973-01-17,высшее,<NA>,67600.0

Такая запись работать не будет

In [23]:
empl.query('"Андрей" in fio').head()

Empty DataFrame
Columns: [report_dt, i_pernr, fio, sex, shop_id, pos_name, pos_id, closest_boss_pos_id, mgmt_flag, salary_fork, birth_date, education, employee_evaluation, salary]
Index: []

#### Замены внутри строк

In [24]:
empl['fio']

0                Кожевников Андрей Максимович
1                 Дубинина Надежда Николаевна
2        Вишневскиая Валентина Константиновна
3               Литвинов Александр Максимович
4                   Черняева Валерия Глебовна
                         ...
29367              Морозова Раиса Ярославовна
29368              Фадеева Евгения Данииловна
29369             Измайлов Григорий Артемович
29370               Русаков Евгений Тимурович
29371                Суханова Дарья Фёдоровна
Name: fio, Length: 29372, dtype: string

In [25]:
empl['fio'].str.replace('Максимович', '______________')

0            Кожевников Андрей ______________
1                 Дубинина Надежда Николаевна
2        Вишневскиая Валентина Константиновна
3           Литвинов Александр ______________
4                   Черняева Валерия Глебовна
                         ...
29367              Морозова Раиса Ярославовна
29368              Фадеева Евгения Данииловна
29369             Измайлов Григорий Артемович
29370               Русаков Евгений Тимурович
29371                Суханова Дарья Фёдоровна
Name: fio, Length: 29372, dtype: string

В отличие от str.replace, обычный метод replace смотрит на всю строку целиком

In [26]:
empl['fio'].replace({'Максимович': '___________'})

0                Кожевников Андрей Максимович
1                 Дубинина Надежда Николаевна
2        Вишневскиая Валентина Константиновна
3               Литвинов Александр Максимович
4                   Черняева Валерия Глебовна
                         ...
29367              Морозова Раиса Ярославовна
29368              Фадеева Евгения Данииловна
29369             Измайлов Григорий Артемович
29370               Русаков Евгений Тимурович
29371                Суханова Дарья Фёдоровна
Name: fio, Length: 29372, dtype: string

#### Разделение строк

In [27]:
empl['fio'].str.split()

0                [Кожевников, Андрей, Максимович]
1                 [Дубинина, Надежда, Николаевна]
2        [Вишневскиая, Валентина, Константиновна]
3               [Литвинов, Александр, Максимович]
4                   [Черняева, Валерия, Глебовна]
                           ...
29367              [Морозова, Раиса, Ярославовна]
29368              [Фадеева, Евгения, Данииловна]
29369             [Измайлов, Григорий, Артемович]
29370               [Русаков, Евгений, Тимурович]
29371                [Суханова, Дарья, Фёдоровна]
Name: fio, Length: 29372, dtype: object

In [28]:
empl['fio'].str.split('Надежда')

0                [Кожевников Андрей Максимович]
1                      [Дубинина ,  Николаевна]
2        [Вишневскиая Валентина Константиновна]
3               [Литвинов Александр Максимович]
4                   [Черняева Валерия Глебовна]
                          ...
29367              [Морозова Раиса Ярославовна]
29368              [Фадеева Евгения Данииловна]
29369             [Измайлов Григорий Артемович]
29370               [Русаков Евгений Тимурович]
29371                [Суханова Дарья Фёдоровна]
Name: fio, Length: 29372, dtype: object

Выбор элементов списка

In [29]:
empl['fio'].str.split().str[0]

0         Кожевников
1           Дубинина
2        Вишневскиая
3           Литвинов
4           Черняева
            ...
29367       Морозова
29368        Фадеева
29369       Измайлов
29370        Русаков
29371       Суханова
Name: fio, Length: 29372, dtype: object

In [30]:
empl['fio'].str.split().str[1:]

0               [Андрей, Максимович]
1              [Надежда, Николаевна]
2        [Валентина, Константиновна]
3            [Александр, Максимович]
4                [Валерия, Глебовна]
                    ...
29367           [Раиса, Ярославовна]
29368          [Евгения, Данииловна]
29369          [Григорий, Артемович]
29370           [Евгений, Тимурович]
29371             [Дарья, Фёдоровна]
Name: fio, Length: 29372, dtype: object

Такой список можно разделить на колонки

In [31]:
empl['fio'].str.split(expand=True)

                 0          1               2
0       Кожевников     Андрей      Максимович
1         Дубинина    Надежда      Николаевна
2      Вишневскиая  Валентина  Константиновна
3         Литвинов  Александр      Максимович
4         Черняева    Валерия        Глебовна
...            ...        ...             ...
29367     Морозова      Раиса     Ярославовна
29368      Фадеева    Евгения      Данииловна
29369     Измайлов   Григорий       Артемович
29370      Русаков    Евгений       Тимурович
29371     Суханова      Дарья       Фёдоровна

[29372 rows x 3 columns]

Присоединение новых колонок

In [32]:
(empl
    .join(empl['fio']
          .str
          .split(expand=True)
          .set_axis(['Фамилия', 'Имя', 'Отчество'], axis=1)
         )
    .head()
)

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary,Фамилия,Имя,Отчество
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,Кожевников,Андрей,Максимович
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0,Дубинина,Надежда,Николаевна
2,2015-01-31,1,Вишневскиая Валентина Константиновна,женский,1,Кассир,13,12,0,0,1974-11-29,среднее общее,5,12600.0,Вишневскиая,Валентина,Константиновна
3,2015-01-31,2,Литвинов Александр Максимович,мужской,1,Кассир,14,12,0,0,1969-11-01,среднее общее,3,12600.0,Литвинов,Александр,Максимович
4,2015-01-31,3,Черняева Валерия Глебовна,женский,1,Продавец-консультант,17,11,0,0,1988-07-17,среднее общее,<NA>,15400.0,Черняева,Валерия,Глебовна

#### Создание для каждого элемента списка своей строки

In [35]:
empl.assign(fio_list = lambda x: x['fio'].str.split()).explode('fio_list')

,report_dt,i_pernr,fio,sex,shop_id,pos_name,pos_id,closest_boss_pos_id,mgmt_flag,salary_fork,birth_date,education,employee_evaluation,salary,fio_list
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,Кожевников
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,Андрей
0,2015-01-31,100000,Кожевников Андрей Максимович,мужской,1,Директор магазина,11,<NA>,1,0,1987-03-11,высшее,5,45700.0,Максимович
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0,Дубинина
1,2015-01-31,0,Дубинина Надежда Николаевна,женский,1,Старший кассир,12,11,0,0,1971-07-07,среднее профессиональное,5,20000.0,Надежда
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29370,2022-12-31,1616,Русаков Евгений Тимурович,мужской,23,Мастер по ремонту одежды,2328,232,0,2,1963-09-19,среднее профессиональное,7,35500.0,Евгений
29370,2022-12-31,1616,Русаков Евгений Тимурович,мужской,23,Мастер по ремонту одежды,2328,232,0,2,1963-09-19,среднее профессиональное,7,35500.0,Тимурович
29371,2022-12-31,1687,Суханова Дарья Фёдоровна,женский,23,Уборщик,2329,232,0,2,1989-08-10,среднее профессиональное,8,26400.0,Суханова
29371,2022-12-31,1687,Суханова Дарья Фёдоровна,женский,23,Уборщик,2329,232,0,2,1989-08-10,среднее профессиональное,8,26400.0,Дарья
29371,2022-12-31,1687,Суханова Дарья Фёдоровна,женский,23,Уборщик,2329,232,0,2,1989-08-10,среднее профессиональное,8,26400.0,Фёдоровна

#### Можно узнасть длинну списка

In [36]:
empl['fio'].str.split().str.len()

0        3
1        3
2        3
3        3
4        3
        ..
29367    3
29368    3
29369    3
29370    3
29371    3
Name: fio, Length: 29372, dtype: int64

#### Соединение списков в одну строку

In [37]:
empl['fio'].str.split()

0                [Кожевников, Андрей, Максимович]
1                 [Дубинина, Надежда, Николаевна]
2        [Вишневскиая, Валентина, Константиновна]
3               [Литвинов, Александр, Максимович]
4                   [Черняева, Валерия, Глебовна]
                           ...
29367              [Морозова, Раиса, Ярославовна]
29368              [Фадеева, Евгения, Данииловна]
29369             [Измайлов, Григорий, Артемович]
29370               [Русаков, Евгений, Тимурович]
29371                [Суханова, Дарья, Фёдоровна]
Name: fio, Length: 29372, dtype: object

In [38]:
empl['fio'].str.split().str.join('___')

0                Кожевников___Андрей___Максимович
1                 Дубинина___Надежда___Николаевна
2        Вишневскиая___Валентина___Константиновна
3               Литвинов___Александр___Максимович
4                   Черняева___Валерия___Глебовна
                           ...
29367              Морозова___Раиса___Ярославовна
29368              Фадеева___Евгения___Данииловна
29369             Измайлов___Григорий___Артемович
29370               Русаков___Евгений___Тимурович
29371                Суханова___Дарья___Фёдоровна
Name: fio, Length: 29372, dtype: object

#### Список всех методов

In [39]:
dir(goods_descr['description'].str)[44:]

['capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

### Apply

In [40]:
goods_descr.apply(lambda x: x['description'].replace(x['brand'], ''), axis=1)

0        Shirts by  Do the smart thing Spread collar Pr...
1        Shirts by  Do the smart thing Spread collar Pr...
2        Shirts by  Do the smart thing Spread collar Pr...
3        Shirts by  Do the smart thing Spread collar Pr...
4        Shirts by  Do the smart thing Spread collar Pr...
                               ...
81853    Leggings by  Go with the faux High rise Elasti...
81854    Leggings by  Go with the faux High rise Elasti...
81855    Trousers by  For your non-denim days Dogtooth ...
81856    Trousers by  For your non-denim days Dogtooth ...
81857    Trousers by  For your non-denim days Dogtooth ...
Length: 81858, dtype: object

In [41]:
stop_words = ["i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", 'you"re', 'you"ve', 'you"ll', 'you"d', "your", "yours", "yourself", "yourselves", "he", "him", "his", "himself", "she", 'she"s', "her", "hers", "herself", "it", 'it"s', "its", "itself", "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that", 'that"ll', "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just", "don", 'don"t', "should", 'should"ve', "now", "d", "ll", "m", "o", "re", "ve", "y", "ain", "aren", 'aren"t', "couldn", 'couldn"t', "didn", 'didn"t', "doesn", 'doesn"t', "hadn", 'hadn"t', "hasn", 'hasn"t', "haven", 'haven"t', "isn", 'isn"t', "ma", "mightn", 'mightn"t', "mustn", 'mustn"t', "needn", 'needn"t', "shan", 'shan"t', "shouldn", 'shouldn"t', "wasn", 'wasn"t', "weren", 'weren"t', "won", 'won"t', "wouldn", 'wouldn"t']

In [42]:
goods_descr['description'].apply(lambda x: ' '.join([i for i in x.lower().split() if i not in stop_words]))

0        shirts river island smart thing spread collar ...
1        shirts river island smart thing spread collar ...
2        shirts river island smart thing spread collar ...
3        shirts river island smart thing spread collar ...
4        shirts river island smart thing spread collar ...
                               ...
81853    leggings missguided go faux high rise elastica...
81854    leggings missguided go faux high rise elastica...
81855    trousers naanaa non-denim days dogtooth patter...
81856    trousers naanaa non-denim days dogtooth patter...
81857    trousers naanaa non-denim days dogtooth patter...
Name: description, Length: 81858, dtype: object

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

Если вы будете работать с этим ноутбуком в google colab и у вас что-то не будет работать, то раскоментируйте ячейку ниже (для этого выделите содержимое ячейки и нажмите на клавиши ctrl / (если смотреть по английской раскладке или ctrl . для русской), либо просто руками уберите # и пробел после нее в каждой строчке) и запустите ее.

In [ ]:
# import os
# os._exit(00)
# !pip install pyarrow pandas==1.5.3

### Задание 1
Замените все имена в колонке fio с Ольга на Лена

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# напишите свой код здесь

### Задание 2

Замените все имена в колонке fio с Максим на Павел

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# напишите свой код здесь

### Задание 3

Найдите человека с самой длинной фамилией

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# напишите свой код здесь

### Задание 4

Перейдите по одной из ссылок в таблице (поле url)

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 5

Избавьтесь от названия бренда в названии товара (поле product_name)

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 6

Если вы посмотрите, на описание товара внимательно, то в нем сначала идет название категории товара, затем слово by, после чего идет название бренда и описание.

Создайте колонки engl_cat, в которую положите навзание категории товара из описания, и колонку desc_short, в которую положите описание товара без категории и без бренда.

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 7

В описании часто указывается посадка одежды (Slim fit, tapered fit, Regular-fit)

Давайте попробуем вытащить информацию о ней. Добавьте к концу каждой строки пробел. После чего в отдельную колонку положите слово, которое стоит перед последним словом 'fit ' (с пробелом, чтобы не ловить слова fitting) в строке. Приведите эту строку к нижнему регистру, избавившись от всех лишних значков (- и пробелов)

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 8

Точно так же в описании часто содержится информация о высоте посадки. Для этого из каждой строки вытащите последнее слово перед словом rise

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 9

Если товар представляет из себя набор предметов, вытащите информацию о количестве предметов в наборе. Она содержится в первом слове после фразы pack of. Пердварительно привидите строку к нижнему регистру.

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

### Задание 10


Удалите дубликаты описаний. После этого посчитайте самые частые слова в описаниях. 

Дополнительно можете сделать это для очищенных описаний, в которых не указан бренд и категория товара. Это поможет вам дальше исследовать описания

In [ ]:
import os
import pandas as pd

path_goods_descr = '../tables/goods_description.parquet' if os.path.exists('../tables/goods_description.parquet') else 'https://drive.google.com/uc?id=1YbiD02Rev-X_WWV9nPSG1zZFmEh2JjPh'

goods_descr = pd.read_parquet(path_goods_descr)
goods_descr.head()

In [ ]:
# напишите свой код здесь

In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\Александр\AppData\Local\Temp\ipykernel_3664\3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML